In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from IPython.display import display, HTML

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
To toggle seeing the raw code for the ENTIRE notebook, click <a href="javascript:code_toggle()">here</a>.''')

In [3]:
data = pd.read_csv("jasminepearl_20180101-20181231-shopkeep transactions.csv")
data['Time'] = pd.to_datetime(data['Time'])

data.drop(['Customer Name', 'Customer Email', 'New Liabilities', 'Tax', 'Tips', 'Card Type',
           'Receipt Number', 'Transaction ID', 'Operation Type', 'Last 4 Digits',
           'Cardholder Name', 'Register Name/Number', 'Tendered Amount'], 1, inplace=True)

In [4]:
jan = data.loc[data['Time'].dt.month == 1]
feb = data.loc[data['Time'].dt.month == 2]
mar = data.loc[data['Time'].dt.month == 3]
apr = data.loc[data['Time'].dt.month == 4]
may = data.loc[data['Time'].dt.month == 5]
jun = data.loc[data['Time'].dt.month == 6]
jul = data.loc[data['Time'].dt.month == 7]
aug = data.loc[data['Time'].dt.month == 8]
sep = data.loc[data['Time'].dt.month == 9]
octo = data.loc[data['Time'].dt.month == 10]
nov = data.loc[data['Time'].dt.month == 11]
dec = data.loc[data['Time'].dt.month == 12]

hours = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
hours_12 = '10 11 12 1 2 3 4 5 6 7 8 9'.split()
days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [5]:
def averages(mnth, hour, day):
    """get dataframe for specified hour of given day"""
    return mnth.loc[(mnth['Time'].dt.hour == hour) &
             (mnth['Time'].dt.weekday == day)]

In [6]:
print(f"\n                  ——— January ———\n")
for i in range(7):
    print(days[i])
    for hour in hours:
        if (i >= 5) and (hour == 10 or hour == 17):
            continue
        if (i == 6) and (hour == 17):
            continue
        total = averages(jan, hour, i)['Total Due'].sum()
        count = averages(jan, hour, i)['Total Due'].count()
        print(f"Hour: {hour}    total hourly sales: {total:7.2f}    ", end ='')
        print(f"number of transactions: {count:2d}    average: {total/count:5.2f}")
    print("")

                  ——— January ———

Mon
Hour: 10    total hourly sales:  114.73    number of transactions: 12    average:  9.56
Hour: 11    total hourly sales:  201.34    number of transactions: 12    average: 16.78
Hour: 12    total hourly sales:  548.03    number of transactions: 18    average: 30.45
Hour: 13    total hourly sales:  378.67    number of transactions: 19    average: 19.93
Hour: 14    total hourly sales:  342.99    number of transactions: 21    average: 16.33
Hour: 15    total hourly sales:  295.53    number of transactions: 24    average: 12.31
Hour: 16    total hourly sales:  257.12    number of transactions: 16    average: 16.07
Hour: 17    total hourly sales: -154.31    number of transactions:  6    average: -25.72
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Tue
Hour: 10    total hourly sales:  356.34    number of transactions: 14    average: 25.45
Hour: 11    total hourly sales:  359.27    number of transactions: 15    average: 23.95
Hour: 12    total hourly sales:  414.86    number of transactions: 20    average: 20.74
Hour: 13    total hourly sales:  422.94    number of transactions: 24    average: 17.62
Hour: 14    total hourly sales:  492.30    number of transactions: 29    average: 16.98
Hour: 15    total hourly sales:  457.60    number of transactions: 26    average: 17.60
Hour: 16    total hourly sales:  705.57    number of transactions: 21    average: 33.60
Hour: 17    total hourly sales:   99.63    number of transactions:  8    average: 12.45
Hour: 18    total hourly sales:   77.58    number of transactions:  1    average: 77.58
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Wed
Hour: 10    total hourly sales:  412.13    number of transactions: 18    average: 22.90
Hour: 11    total hourly sales:  344.79    number of transactions: 21    average: 16.42
Hour: 12    total hourly sales:  268.16    number of transactions: 16    average: 16.76
Hour: 13    total hourly sales:  475.53    number of transactions: 23    average: 20.68
Hour: 14    total hourly sales:  598.39    number of transactions: 33    average: 18.13
Hour: 15    total hourly sales:  405.00    number of transactions: 21    average: 19.29
Hour: 16    total hourly sales:  184.38    number of transactions: 19    average:  9.70
Hour: 17    total hourly sales:  388.14    number of transactions: 14    average: 27.72
Hour: 18    total hourly sales:    9.95    number of transactions:  1    average:  9.95
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Thu
Hour: 10    total hourly sales:   99.37    number of transactions:  8    average: 12.42
Hour: 11    total hourly sales:  184.84    number of transactions:  8    average: 23.11
Hour: 12    total hourly sales:  273.52    number of transactions: 14    average: 19.54
Hour: 13    total hourly sales:  344.42    number of transactions: 21    average: 16.40
Hour: 14    total hourly sales:  415.50    number of transactions: 25    average: 16.62
Hour: 15    total hourly sales:  236.82    number of transactions: 19    average: 12.46
Hour: 16    total hourly sales:  133.29    number of transactions: 14    average:  9.52
Hour: 17    total hourly sales:  116.10    number of transactions: 10    average: 11.61
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Fri
Hour: 10    total hourly sales:  205.68    number of transactions:  9    average: 22.85
Hour: 11    total hourly sales:  327.59    number of transactions: 19    average: 17.24
Hour: 12    total hourly sales:  447.15    number of transactions: 27    average: 16.56
Hour: 13    total hourly sales:  417.75    number of transactions: 19    average: 21.99
Hour: 14    total hourly sales:  696.80    number of transactions: 31    average: 22.48
Hour: 15    total hourly sales:  297.83    number of transactions: 16    average: 18.61
Hour: 16    total hourly sales:  386.45    number of transactions: 23    average: 16.80
Hour: 17    total hourly sales:  382.83    number of transactions: 16    average: 23.93
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Sat
Hour: 11    total hourly sales:  887.56    number of transactions: 32    average: 27.74
Hour: 12    total hourly sales: 1158.53    number of transactions: 36    average: 32.18
Hour: 13    total hourly sales:  702.35    number of transactions: 37    average: 18.98
Hour: 14    total hourly sales:  943.09    number of transactions: 44    average: 21.43
Hour: 15    total hourly sales:  985.54    number of transactions: 51    average: 19.32
Hour: 16    total hourly sales:  446.65    number of transactions: 25    average: 17.87
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Sun
Hour: 11    total hourly sales:  461.64    number of transactions: 18    average: 25.65
Hour: 12    total hourly sales:  930.19    number of transactions: 30    average: 31.01
Hour: 13    total hourly sales:  791.35    number of transactions: 30    average: 26.38
Hour: 14    total hourly sales: 1007.73    number of transactions: 33    average: 30.54
Hour: 15    total hourly sales: 1088.91    number of transactions: 40    average: 27.22
Hour: 16    total hourly sales:  160.20    number of transactions:  5    average: 32.04
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

In [7]:
print("\n                  ——— February ———\n")
for i in range(7):
    print(days[i])
    for hour in hours:
        if (i >= 5) and (hour == 10 or hour == 17):
            continue
        if (i == 6) and (hour == 17):
            continue
        total = averages(feb, hour, i)['Total Due'].sum()
        count = averages(feb, hour, i)['Total Due'].count()
        print(f"Hour: {hour}    total hourly sales: {total:7.2f}    ", end ='')
        print(f"number of transactions: {count:2d}    average: {total/count:5.2f}")
    print("")

                  ——— February ———

Mon
Hour: 10    total hourly sales:  308.31    number of transactions: 18    average: 17.13
Hour: 11    total hourly sales:  337.44    number of transactions: 21    average: 16.07
Hour: 12    total hourly sales:  505.22    number of transactions: 26    average: 19.43
Hour: 13    total hourly sales:  497.03    number of transactions: 20    average: 24.85
Hour: 14    total hourly sales:  474.73    number of transactions: 33    average: 14.39
Hour: 15    total hourly sales:  450.20    number of transactions: 23    average: 19.57
Hour: 16    total hourly sales:  391.49    number of transactions: 19    average: 20.60
Hour: 17    total hourly sales:  322.27    number of transactions: 17    average: 18.96
Hour: 18    total hourly sales:   22.00    number of transactions:  2    average: 11.00
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Tue
Hour: 10    total hourly sales:   97.98    number of transactions: 11    average:  8.91
Hour: 11    total hourly sales:  247.40    number of transactions: 14    average: 17.67
Hour: 12    total hourly sales:  306.25    number of transactions: 19    average: 16.12
Hour: 13    total hourly sales:  160.25    number of transactions: 11    average: 14.57
Hour: 14    total hourly sales:  794.60    number of transactions: 38    average: 20.91
Hour: 15    total hourly sales:  807.11    number of transactions: 36    average: 22.42
Hour: 16    total hourly sales:  227.26    number of transactions: 16    average: 14.20
Hour: 17    total hourly sales:  114.51    number of transactions:  8    average: 14.31
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Wed
Hour: 10    total hourly sales:  145.72    number of transactions:  4    average: 36.43
Hour: 11    total hourly sales:  305.33    number of transactions: 15    average: 20.36
Hour: 12    total hourly sales:  252.72    number of transactions: 14    average: 18.05
Hour: 13    total hourly sales:  262.72    number of transactions: 15    average: 17.51
Hour: 14    total hourly sales:  451.06    number of transactions: 23    average: 19.61
Hour: 15    total hourly sales:  264.31    number of transactions: 15    average: 17.62
Hour: 16    total hourly sales:  204.54    number of transactions: 12    average: 17.04
Hour: 17    total hourly sales:   77.47    number of transactions:  5    average: 15.49
Hour: 18    total hourly sales:   23.80    number of transactions:  1    average: 23.80
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Thu
Hour: 10    total hourly sales:  202.50    number of transactions: 11    average: 18.41
Hour: 11    total hourly sales:  234.50    number of transactions: 10    average: 23.45
Hour: 12    total hourly sales:  348.19    number of transactions: 10    average: 34.82
Hour: 13    total hourly sales:  484.88    number of transactions: 28    average: 17.32
Hour: 14    total hourly sales:  190.82    number of transactions: 24    average:  7.95
Hour: 15    total hourly sales:  150.91    number of transactions: 13    average: 11.61
Hour: 16    total hourly sales:  358.54    number of transactions: 17    average: 21.09
Hour: 17    total hourly sales:  139.20    number of transactions:  6    average: 23.20
Hour: 18    total hourly sales:    7.00    number of transactions:  1    average:  7.00
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Fri
Hour: 10    total hourly sales:  242.06    number of transactions:  9    average: 26.90
Hour: 11    total hourly sales:  296.11    number of transactions: 15    average: 19.74
Hour: 12    total hourly sales:  633.56    number of transactions: 22    average: 28.80
Hour: 13    total hourly sales:  670.97    number of transactions: 33    average: 20.33
Hour: 14    total hourly sales:  499.09    number of transactions: 25    average: 19.96
Hour: 15    total hourly sales:  368.04    number of transactions: 28    average: 13.14
Hour: 16    total hourly sales:  436.74    number of transactions: 23    average: 18.99
Hour: 17    total hourly sales:  197.91    number of transactions: 11    average: 17.99
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Sat
Hour: 11    total hourly sales:  829.71    number of transactions: 29    average: 28.61
Hour: 12    total hourly sales: 1194.02    number of transactions: 41    average: 29.12
Hour: 13    total hourly sales:  808.44    number of transactions: 37    average: 21.85
Hour: 14    total hourly sales:  765.48    number of transactions: 39    average: 19.63
Hour: 15    total hourly sales:  830.64    number of transactions: 41    average: 20.26
Hour: 16    total hourly sales:  742.70    number of transactions: 30    average: 24.76
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Sun
Hour: 11    total hourly sales:  665.97    number of transactions: 22    average: 30.27
Hour: 12    total hourly sales: 1040.81    number of transactions: 44    average: 23.65
Hour: 13    total hourly sales:  677.51    number of transactions: 29    average: 23.36
Hour: 14    total hourly sales:  857.25    number of transactions: 37    average: 23.17
Hour: 15    total hourly sales: 1129.82    number of transactions: 44    average: 25.68
Hour: 16    total hourly sales:  111.55    number of transactions:  3    average: 37.18
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

In [8]:
print("\n                  ——— March ———\n")
for i in range(7):
    print(days[i])
    for hour in hours:
        if (i >= 5) and (hour == 10 or hour == 17):
            continue
        if (i == 6) and (hour == 17):
            continue
        total = averages(mar, hour, i)['Total Due'].sum()
        count = averages(mar, hour, i)['Total Due'].count()
        print(f"Hour: {hour}    total hourly sales: {total:7.2f}    ", end ='')
        print(f"number of transactions: {count:2d}    average: {total/count:5.2f}")
    print("")

                  ——— March ———

Mon
Hour: 10    total hourly sales:  228.74    number of transactions: 15    average: 15.25
Hour: 11    total hourly sales:  291.27    number of transactions: 18    average: 16.18
Hour: 12    total hourly sales:  273.21    number of transactions: 14    average: 19.51
Hour: 13    total hourly sales:  340.24    number of transactions: 20    average: 17.01
Hour: 14    total hourly sales:  323.93    number of transactions: 32    average: 10.12
Hour: 15    total hourly sales:  531.99    number of transactions: 25    average: 21.28
Hour: 16    total hourly sales:  345.38    number of transactions: 27    average: 12.79
Hour: 17    total hourly sales:  564.40    number of transactions: 18    average: 31.36
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Tue
Hour: 10    total hourly sales:  307.70    number of transactions: 11    average: 27.97
Hour: 11    total hourly sales:   81.33    number of transactions:  4    average: 20.33
Hour: 12    total hourly sales:  310.23    number of transactions: 17    average: 18.25
Hour: 13    total hourly sales:  234.74    number of transactions: 12    average: 19.56
Hour: 14    total hourly sales:  218.34    number of transactions: 17    average: 12.84
Hour: 15    total hourly sales:  347.05    number of transactions: 18    average: 19.28
Hour: 16    total hourly sales:  449.50    number of transactions: 24    average: 18.73
Hour: 17    total hourly sales:  511.83    number of transactions: 17    average: 30.11
Hour: 18    total hourly sales:   23.76    number of transactions:  1    average: 23.76
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Wed
Hour: 10    total hourly sales:   96.18    number of transactions:  6    average: 16.03
Hour: 11    total hourly sales:  373.18    number of transactions:  9    average: 41.46
Hour: 12    total hourly sales:  264.73    number of transactions: 17    average: 15.57
Hour: 13    total hourly sales:  241.81    number of transactions: 18    average: 13.43
Hour: 14    total hourly sales:  397.63    number of transactions: 29    average: 13.71
Hour: 15    total hourly sales:  392.57    number of transactions: 24    average: 16.36
Hour: 16    total hourly sales:  534.63    number of transactions: 30    average: 17.82
Hour: 17    total hourly sales:  260.51    number of transactions: 16    average: 16.28
Hour: 18    total hourly sales:   46.80    number of transactions:  1    average: 46.80
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Thu
Hour: 10    total hourly sales:  182.95    number of transactions: 14    average: 13.07
Hour: 11    total hourly sales:  241.55    number of transactions: 17    average: 14.21
Hour: 12    total hourly sales:  651.88    number of transactions: 30    average: 21.73
Hour: 13    total hourly sales:  455.30    number of transactions: 22    average: 20.70
Hour: 14    total hourly sales:  476.35    number of transactions: 19    average: 25.07
Hour: 15    total hourly sales:  733.95    number of transactions: 37    average: 19.84
Hour: 16    total hourly sales:  625.42    number of transactions: 25    average: 25.02
Hour: 17    total hourly sales:  473.20    number of transactions: 24    average: 19.72
Hour: 18    total hourly sales:   10.60    number of transactions:  1    average: 10.60
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Fri
Hour: 10    total hourly sales:  125.18    number of transactions: 14    average:  8.94
Hour: 11    total hourly sales:  865.66    number of transactions: 29    average: 29.85
Hour: 12    total hourly sales:  239.61    number of transactions: 16    average: 14.98
Hour: 13    total hourly sales:  428.83    number of transactions: 24    average: 17.87
Hour: 14    total hourly sales: 1053.01    number of transactions: 43    average: 24.49
Hour: 15    total hourly sales:  413.62    number of transactions: 35    average: 11.82
Hour: 16    total hourly sales:  782.81    number of transactions: 34    average: 23.02
Hour: 17    total hourly sales:  628.39    number of transactions: 16    average: 39.27
Hour: 18    total hourly sales:  141.67    number of transactions:  6    average: 23.61
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Sat
Hour: 11    total hourly sales:  776.31    number of transactions: 31    average: 25.04
Hour: 12    total hourly sales: 1415.32    number of transactions: 48    average: 29.49
Hour: 13    total hourly sales:  785.41    number of transactions: 35    average: 22.44
Hour: 14    total hourly sales: 1146.82    number of transactions: 42    average: 27.31
Hour: 15    total hourly sales:  793.09    number of transactions: 52    average: 15.25
Hour: 16    total hourly sales:  985.85    number of transactions: 43    average: 22.93
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Sun
Hour: 11    total hourly sales:  259.50    number of transactions: 12    average: 21.62
Hour: 12    total hourly sales:  986.16    number of transactions: 44    average: 22.41
Hour: 13    total hourly sales:  476.41    number of transactions: 23    average: 20.71
Hour: 14    total hourly sales:  965.45    number of transactions: 39    average: 24.76
Hour: 15    total hourly sales:  960.20    number of transactions: 43    average: 22.33
Hour: 16    total hourly sales:   15.40    number of transactions:  1    average: 15.40
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

In [9]:
print("\n                  ——— April ———\n")
for i in range(7):
    print(days[i])
    for hour in hours:
        if (i >= 5) and (hour == 10 or hour == 17):
            continue
        if (i == 6) and (hour == 17):
            continue
        total = averages(apr, hour, i)['Total Due'].sum()
        count = averages(apr, hour, i)['Total Due'].count()
        print(f"Hour: {hour}    total hourly sales: {total:7.2f}    ", end ='')
        print(f"number of transactions: {count:2d}    average: {total/count:5.2f}")
    print("")

                  ——— April ———

Mon
Hour: 10    total hourly sales:  185.76    number of transactions: 20    average:  9.29
Hour: 11    total hourly sales:  408.65    number of transactions: 25    average: 16.35
Hour: 12    total hourly sales:  618.15    number of transactions: 16    average: 38.63
Hour: 13    total hourly sales:  155.38    number of transactions: 14    average: 11.10
Hour: 14    total hourly sales:  612.11    number of transactions: 37    average: 16.54
Hour: 15    total hourly sales:  512.02    number of transactions: 29    average: 17.66
Hour: 16    total hourly sales:  367.56    number of transactions: 21    average: 17.50
Hour: 17    total hourly sales:  296.15    number of transactions: 12    average: 24.68
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Tue
Hour: 10    total hourly sales:  349.76    number of transactions: 14    average: 24.98
Hour: 11    total hourly sales:  388.26    number of transactions: 18    average: 21.57
Hour: 12    total hourly sales:  594.71    number of transactions: 26    average: 22.87
Hour: 13    total hourly sales:  379.95    number of transactions: 25    average: 15.20
Hour: 14    total hourly sales:  533.92    number of transactions: 28    average: 19.07
Hour: 15    total hourly sales:  318.49    number of transactions: 25    average: 12.74
Hour: 16    total hourly sales:  360.48    number of transactions: 18    average: 20.03
Hour: 17    total hourly sales:   85.83    number of transactions:  8    average: 10.73
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Wed
Hour: 10    total hourly sales:  126.48    number of transactions:  9    average: 14.05
Hour: 11    total hourly sales:  480.00    number of transactions: 18    average: 26.67
Hour: 12    total hourly sales:  456.11    number of transactions: 23    average: 19.83
Hour: 13    total hourly sales:  436.21    number of transactions: 22    average: 19.83
Hour: 14    total hourly sales:  308.17    number of transactions: 18    average: 17.12
Hour: 15    total hourly sales:  239.74    number of transactions: 20    average: 11.99
Hour: 16    total hourly sales:  155.05    number of transactions: 14    average: 11.08
Hour: 17    total hourly sales:  233.05    number of transactions: 12    average: 19.42
Hour: 18    total hourly sales:    3.00    number of transactions:  1    average:  3.00
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Thu
Hour: 10    total hourly sales:  179.38    number of transactions:  5    average: 35.88
Hour: 11    total hourly sales:  174.84    number of transactions: 14    average: 12.49
Hour: 12    total hourly sales:  446.33    number of transactions: 22    average: 20.29
Hour: 13    total hourly sales:  234.30    number of transactions: 18    average: 13.02
Hour: 14    total hourly sales:  259.43    number of transactions: 20    average: 12.97
Hour: 15    total hourly sales:  427.17    number of transactions: 27    average: 15.82
Hour: 16    total hourly sales:  344.73    number of transactions: 19    average: 18.14
Hour: 17    total hourly sales:  380.68    number of transactions: 16    average: 23.79
Hour: 18    total hourly sales:   33.20    number of transactions:  1    average: 33.20
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Fri
Hour: 10    total hourly sales:  262.19    number of transactions: 14    average: 18.73
Hour: 11    total hourly sales:  316.75    number of transactions: 15    average: 21.12
Hour: 12    total hourly sales:  382.75    number of transactions: 25    average: 15.31
Hour: 13    total hourly sales:  842.56    number of transactions: 21    average: 40.12
Hour: 14    total hourly sales:  217.35    number of transactions: 13    average: 16.72
Hour: 15    total hourly sales:  390.71    number of transactions: 21    average: 18.61
Hour: 16    total hourly sales:  229.07    number of transactions: 11    average: 20.82
Hour: 17    total hourly sales:  312.76    number of transactions: 21    average: 14.89
Hour: 18    total hourly sales:    6.00    number of transactions:  1    average:  6.00
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Sat
Hour: 11    total hourly sales:  452.20    number of transactions: 17    average: 26.60
Hour: 12    total hourly sales:  543.32    number of transactions: 24    average: 22.64
Hour: 13    total hourly sales:  614.19    number of transactions: 29    average: 21.18
Hour: 14    total hourly sales:  900.68    number of transactions: 31    average: 29.05
Hour: 15    total hourly sales:  757.93    number of transactions: 33    average: 22.97
Hour: 16    total hourly sales:  882.79    number of transactions: 38    average: 23.23
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Sun
Hour: 11    total hourly sales:  596.08    number of transactions: 23    average: 25.92
Hour: 12    total hourly sales:  762.04    number of transactions: 30    average: 25.40
Hour: 13    total hourly sales: 1096.63    number of transactions: 36    average: 30.46
Hour: 14    total hourly sales: 1136.55    number of transactions: 36    average: 31.57
Hour: 15    total hourly sales:  766.96    number of transactions: 39    average: 19.67
Hour: 16    total hourly sales:   23.35    number of transactions:  3    average:  7.78
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

In [10]:
print("\n                  ——— May ———\n")
for i in range(7):
    print(days[i])
    for hour in hours:
        if (i >= 5) and (hour == 10 or hour == 17):
            continue
        if (i == 6) and (hour == 17):
            continue
        total = averages(may, hour, i)['Total Due'].sum()
        count = averages(may, hour, i)['Total Due'].count()
        print(f"Hour: {hour}    total hourly sales: {total:7.2f}    ", end ='')
        print(f"number of transactions: {count:2d}    average: {total/count:5.2f}")
    print("")

                  ——— May ———

Mon
Hour: 10    total hourly sales:  281.12    number of transactions: 10    average: 28.11
Hour: 11    total hourly sales:  346.16    number of transactions: 16    average: 21.64
Hour: 12    total hourly sales:  390.01    number of transactions: 16    average: 24.38
Hour: 13    total hourly sales:  406.12    number of transactions: 21    average: 19.34
Hour: 14    total hourly sales:  419.24    number of transactions: 19    average: 22.07
Hour: 15    total hourly sales:  264.49    number of transactions: 16    average: 16.53
Hour: 16    total hourly sales:  324.23    number of transactions: 21    average: 15.44
Hour: 17    total hourly sales:  165.90    number of transactions: 10    average: 16.59
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Tue
Hour: 10    total hourly sales:  312.46    number of transactions: 15    average: 20.83
Hour: 11    total hourly sales:   60.60    number of transactions: 10    average:  6.06
Hour: 12    total hourly sales:  309.94    number of transactions: 17    average: 18.23
Hour: 13    total hourly sales:  658.03    number of transactions: 24    average: 27.42
Hour: 14    total hourly sales:  470.06    number of transactions: 33    average: 14.24
Hour: 15    total hourly sales:  614.46    number of transactions: 36    average: 17.07
Hour: 16    total hourly sales:  715.33    number of transactions: 24    average: 29.81
Hour: 17    total hourly sales:  278.28    number of transactions: 15    average: 18.55
Hour: 18    total hourly sales:   18.00    number of transactions:  1    average: 18.00
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Wed
Hour: 10    total hourly sales:  276.07    number of transactions: 13    average: 21.24
Hour: 11    total hourly sales:  711.58    number of transactions: 16    average: 44.47
Hour: 12    total hourly sales:  572.35    number of transactions: 20    average: 28.62
Hour: 13    total hourly sales:  212.46    number of transactions: 14    average: 15.18
Hour: 14    total hourly sales:  556.19    number of transactions: 25    average: 22.25
Hour: 15    total hourly sales:  279.94    number of transactions: 22    average: 12.72
Hour: 16    total hourly sales:  422.69    number of transactions: 24    average: 17.61
Hour: 17    total hourly sales:  217.88    number of transactions:  8    average: 27.23
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Thu
Hour: 10    total hourly sales:  109.90    number of transactions: 14    average:  7.85
Hour: 11    total hourly sales:  670.46    number of transactions: 19    average: 35.29
Hour: 12    total hourly sales:  395.31    number of transactions: 24    average: 16.47
Hour: 13    total hourly sales:  356.34    number of transactions: 16    average: 22.27
Hour: 14    total hourly sales:  455.20    number of transactions: 23    average: 19.79
Hour: 15    total hourly sales:  645.92    number of transactions: 35    average: 18.45
Hour: 16    total hourly sales:  194.15    number of transactions: 16    average: 12.13
Hour: 17    total hourly sales:  227.06    number of transactions: 12    average: 18.92
Hour: 18    total hourly sales:   94.50    number of transactions:  2    average: 47.25
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Fri
Hour: 10    total hourly sales:  229.44    number of transactions: 15    average: 15.30
Hour: 11    total hourly sales:  355.78    number of transactions: 19    average: 18.73
Hour: 12    total hourly sales:  323.02    number of transactions: 13    average: 24.85
Hour: 13    total hourly sales:  501.00    number of transactions: 27    average: 18.56
Hour: 14    total hourly sales:  224.36    number of transactions: 11    average: 20.40
Hour: 15    total hourly sales:  457.69    number of transactions: 19    average: 24.09
Hour: 16    total hourly sales:  316.22    number of transactions: 13    average: 24.32
Hour: 17    total hourly sales:  584.09    number of transactions: 22    average: 26.55
Hour: 18    total hourly sales:   52.35    number of transactions:  2    average: 26.18
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Sat
Hour: 11    total hourly sales:  344.57    number of transactions: 14    average: 24.61
Hour: 12    total hourly sales:  557.40    number of transactions: 23    average: 24.23
Hour: 13    total hourly sales:  553.81    number of transactions: 22    average: 25.17
Hour: 14    total hourly sales:  588.08    number of transactions: 23    average: 25.57
Hour: 15    total hourly sales:  629.93    number of transactions: 33    average: 19.09
Hour: 16    total hourly sales:  515.19    number of transactions: 24    average: 21.47
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Sun
Hour: 11    total hourly sales:  319.60    number of transactions: 16    average: 19.98
Hour: 12    total hourly sales:  578.96    number of transactions: 18    average: 32.16
Hour: 13    total hourly sales:  514.31    number of transactions: 17    average: 30.25
Hour: 14    total hourly sales:  728.43    number of transactions: 36    average: 20.23
Hour: 15    total hourly sales:  772.73    number of transactions: 31    average: 24.93
Hour: 16    total hourly sales:   30.30    number of transactions:  1    average: 30.30
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

In [11]:
print("\n                  ——— June ———\n")
for i in range(7):
    print(days[i])
    for hour in hours:
        if (i >= 5) and (hour == 10 or hour == 17):
            continue
        if (i == 6) and (hour == 17):
            continue
        total = averages(jun, hour, i)['Total Due'].sum()
        count = averages(jun, hour, i)['Total Due'].count()
        print(f"Hour: {hour}    total hourly sales: {total:7.2f}    ", end ='')
        print(f"number of transactions: {count:2d}    average: {total/count:5.2f}")
    print("")

                  ——— June ———

Mon
Hour: 10    total hourly sales:  169.73    number of transactions: 11    average: 15.43
Hour: 11    total hourly sales:  491.87    number of transactions: 14    average: 35.13
Hour: 12    total hourly sales:  372.96    number of transactions: 17    average: 21.94
Hour: 13    total hourly sales:  242.68    number of transactions: 13    average: 18.67
Hour: 14    total hourly sales:  462.15    number of transactions: 33    average: 14.00
Hour: 15    total hourly sales:  330.02    number of transactions: 25    average: 13.20
Hour: 16    total hourly sales:  220.99    number of transactions: 14    average: 15.78
Hour: 17    total hourly sales:  358.90    number of transactions: 18    average: 19.94
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Tue
Hour: 10    total hourly sales:  306.83    number of transactions:  7    average: 43.83
Hour: 11    total hourly sales:  214.73    number of transactions:  9    average: 23.86
Hour: 12    total hourly sales:  408.66    number of transactions: 12    average: 34.05
Hour: 13    total hourly sales:  301.72    number of transactions: 18    average: 16.76
Hour: 14    total hourly sales:  385.03    number of transactions: 25    average: 15.40
Hour: 15    total hourly sales:  231.13    number of transactions: 19    average: 12.16
Hour: 16    total hourly sales:  200.07    number of transactions: 12    average: 16.67
Hour: 17    total hourly sales:  179.90    number of transactions:  7    average: 25.70
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Wed
Hour: 10    total hourly sales:  214.80    number of transactions: 12    average: 17.90
Hour: 11    total hourly sales:  360.32    number of transactions: 16    average: 22.52
Hour: 12    total hourly sales:  281.94    number of transactions: 18    average: 15.66
Hour: 13    total hourly sales:  438.86    number of transactions: 23    average: 19.08
Hour: 14    total hourly sales:  360.96    number of transactions: 19    average: 19.00
Hour: 15    total hourly sales:  221.46    number of transactions: 22    average: 10.07
Hour: 16    total hourly sales:   85.84    number of transactions:  9    average:  9.54
Hour: 17    total hourly sales:  217.18    number of transactions: 15    average: 14.48
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Thu
Hour: 10    total hourly sales:  121.06    number of transactions:  9    average: 13.45
Hour: 11    total hourly sales:  531.81    number of transactions: 17    average: 31.28
Hour: 12    total hourly sales:  697.12    number of transactions: 23    average: 30.31
Hour: 13    total hourly sales:  211.74    number of transactions: 11    average: 19.25
Hour: 14    total hourly sales:  338.79    number of transactions: 21    average: 16.13
Hour: 15    total hourly sales:  644.75    number of transactions: 36    average: 17.91
Hour: 16    total hourly sales:  305.13    number of transactions: 15    average: 20.34
Hour: 17    total hourly sales:  278.72    number of transactions: 10    average: 27.87
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Fri
Hour: 10    total hourly sales:  173.98    number of transactions: 10    average: 17.40
Hour: 11    total hourly sales:  273.19    number of transactions: 16    average: 17.07
Hour: 12    total hourly sales:  386.92    number of transactions: 17    average: 22.76
Hour: 13    total hourly sales:  467.72    number of transactions: 23    average: 20.34
Hour: 14    total hourly sales:  837.80    number of transactions: 34    average: 24.64
Hour: 15    total hourly sales:  272.79    number of transactions: 24    average: 11.37
Hour: 16    total hourly sales:  429.20    number of transactions: 18    average: 23.84
Hour: 17    total hourly sales:  397.38    number of transactions: 17    average: 23.38
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Sat
Hour: 11    total hourly sales:  265.64    number of transactions: 12    average: 22.14
Hour: 12    total hourly sales:  751.36    number of transactions: 25    average: 30.05
Hour: 13    total hourly sales:  516.59    number of transactions: 27    average: 19.13
Hour: 14    total hourly sales: 1014.47    number of transactions: 34    average: 29.84
Hour: 15    total hourly sales:  923.15    number of transactions: 39    average: 23.67
Hour: 16    total hourly sales:  463.98    number of transactions: 17    average: 27.29
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Sun
Hour: 11    total hourly sales:  302.54    number of transactions: 13    average: 23.27
Hour: 12    total hourly sales:  453.70    number of transactions: 20    average: 22.68
Hour: 13    total hourly sales:  384.02    number of transactions: 23    average: 16.70
Hour: 14    total hourly sales:  595.80    number of transactions: 30    average: 19.86
Hour: 15    total hourly sales:  623.00    number of transactions: 23    average: 27.09
Hour: 16    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

In [12]:
print("\n                  ——— July ———\n")
for i in range(7):
    print(days[i])
    for hour in hours:
        if (i >= 5) and (hour == 10 or hour == 17):
            continue
        if (i == 6) and (hour == 17):
            continue
        total = averages(jul, hour, i)['Total Due'].sum()
        count = averages(jul, hour, i)['Total Due'].count()
        print(f"Hour: {hour}    total hourly sales: {total:7.2f}    ", end ='')
        print(f"number of transactions: {count:2d}    average: {total/count:5.2f}")
    print("")

                  ——— July ———

Mon
Hour: 10    total hourly sales:  350.01    number of transactions: 19    average: 18.42
Hour: 11    total hourly sales:  232.73    number of transactions:  9    average: 25.86
Hour: 12    total hourly sales:  306.93    number of transactions: 18    average: 17.05
Hour: 13    total hourly sales:  323.35    number of transactions: 15    average: 21.56
Hour: 14    total hourly sales:  342.36    number of transactions: 22    average: 15.56
Hour: 15    total hourly sales:  547.83    number of transactions: 38    average: 14.42
Hour: 16    total hourly sales:  294.01    number of transactions: 16    average: 18.38
Hour: 17    total hourly sales:  490.92    number of transactions: 23    average: 21.34
Hour: 18    total hourly sales:   37.70    number of transactions:  1    average: 37.70
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Tue
Hour: 10    total hourly sales:  344.73    number of transactions: 12    average: 28.73
Hour: 11    total hourly sales:  206.95    number of transactions: 14    average: 14.78
Hour: 12    total hourly sales:  553.49    number of transactions: 27    average: 20.50
Hour: 13    total hourly sales:  546.17    number of transactions: 15    average: 36.41
Hour: 14    total hourly sales:  433.43    number of transactions: 33    average: 13.13
Hour: 15    total hourly sales:  426.29    number of transactions: 25    average: 17.05
Hour: 16    total hourly sales:  151.39    number of transactions: 17    average:  8.91
Hour: 17    total hourly sales:  481.69    number of transactions: 21    average: 22.94
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Wed
Hour: 10    total hourly sales:   70.79    number of transactions:  5    average: 14.16
Hour: 11    total hourly sales:  406.56    number of transactions: 13    average: 31.27
Hour: 12    total hourly sales:  125.08    number of transactions:  6    average: 20.85
Hour: 13    total hourly sales:  408.39    number of transactions: 24    average: 17.02
Hour: 14    total hourly sales:  272.88    number of transactions: 13    average: 20.99
Hour: 15    total hourly sales:   83.38    number of transactions: 15    average:  5.56
Hour: 16    total hourly sales:  331.80    number of transactions: 16    average: 20.74
Hour: 17    total hourly sales:  165.47    number of transactions:  4    average: 41.37
Hour: 18    total hourly sales:   66.80    number of transactions:  1    average: 66.80
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Thu
Hour: 10    total hourly sales:  148.30    number of transactions:  6    average: 24.72
Hour: 11    total hourly sales:  297.49    number of transactions: 16    average: 18.59
Hour: 12    total hourly sales:  283.38    number of transactions: 11    average: 25.76
Hour: 13    total hourly sales:  275.21    number of transactions: 11    average: 25.02
Hour: 14    total hourly sales:  535.85    number of transactions: 22    average: 24.36
Hour: 15    total hourly sales:  361.80    number of transactions: 25    average: 14.47
Hour: 16    total hourly sales:  255.40    number of transactions: 18    average: 14.19
Hour: 17    total hourly sales:  285.03    number of transactions: 13    average: 21.93
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Fri
Hour: 10    total hourly sales:  264.57    number of transactions:  9    average: 29.40
Hour: 11    total hourly sales:  216.17    number of transactions:  8    average: 27.02
Hour: 12    total hourly sales:  536.41    number of transactions: 25    average: 21.46
Hour: 13    total hourly sales:  340.94    number of transactions: 15    average: 22.73
Hour: 14    total hourly sales:  323.99    number of transactions: 16    average: 20.25
Hour: 15    total hourly sales:  443.36    number of transactions: 32    average: 13.86
Hour: 16    total hourly sales:  379.52    number of transactions: 12    average: 31.63
Hour: 17    total hourly sales:  402.85    number of transactions: 15    average: 26.86
Hour: 18    total hourly sales:   46.48    number of transactions:  1    average: 46.48
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Sat
Hour: 11    total hourly sales:  344.60    number of transactions: 13    average: 26.51
Hour: 12    total hourly sales:  383.63    number of transactions: 14    average: 27.40
Hour: 13    total hourly sales:  558.30    number of transactions: 21    average: 26.59
Hour: 14    total hourly sales:  501.23    number of transactions: 20    average: 25.06
Hour: 15    total hourly sales:  708.94    number of transactions: 26    average: 27.27
Hour: 16    total hourly sales:  709.91    number of transactions: 22    average: 32.27
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Sun
Hour: 11    total hourly sales:  478.52    number of transactions: 16    average: 29.91
Hour: 12    total hourly sales:  581.43    number of transactions: 20    average: 29.07
Hour: 13    total hourly sales:  758.33    number of transactions: 35    average: 21.67
Hour: 14    total hourly sales:  516.19    number of transactions: 33    average: 15.64
Hour: 15    total hourly sales:  973.11    number of transactions: 30    average: 32.44
Hour: 16    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

In [13]:
print("\n                  ——— August ———\n")
for i in range(7):
    print(days[i])
    for hour in hours:
        if (i >= 5) and (hour == 10 or hour == 17):
            continue
        if (i == 6) and (hour == 17):
            continue
        total = averages(aug, hour, i)['Total Due'].sum()
        count = averages(aug, hour, i)['Total Due'].count()
        print(f"Hour: {hour}    total hourly sales: {total:7.2f}    ", end ='')
        print(f"number of transactions: {count:2d}    average: {total/count:5.2f}")
    print("")

                  ——— August ———

Mon
Hour: 10    total hourly sales:  191.39    number of transactions: 10    average: 19.14
Hour: 11    total hourly sales:  159.85    number of transactions:  7    average: 22.84
Hour: 12    total hourly sales:  659.49    number of transactions: 21    average: 31.40
Hour: 13    total hourly sales:  385.25    number of transactions: 17    average: 22.66
Hour: 14    total hourly sales:  281.64    number of transactions: 17    average: 16.57
Hour: 15    total hourly sales:  176.33    number of transactions: 15    average: 11.76
Hour: 16    total hourly sales:  310.55    number of transactions: 17    average: 18.27
Hour: 17    total hourly sales:  235.90    number of transactions: 12    average: 19.66
Hour: 18    total hourly sales:   66.41    number of transactions:  1    average: 66.41
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Tue
Hour: 10    total hourly sales:  137.88    number of transactions:  2    average: 68.94
Hour: 11    total hourly sales:  134.27    number of transactions: 10    average: 13.43
Hour: 12    total hourly sales:  171.89    number of transactions:  8    average: 21.49
Hour: 13    total hourly sales:  369.78    number of transactions: 22    average: 16.81
Hour: 14    total hourly sales:  223.28    number of transactions: 18    average: 12.40
Hour: 15    total hourly sales:  242.81    number of transactions: 21    average: 11.56
Hour: 16    total hourly sales:  207.23    number of transactions: 17    average: 12.19
Hour: 17    total hourly sales:  248.62    number of transactions: 10    average: 24.86
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Wed
Hour: 10    total hourly sales:  385.62    number of transactions: 16    average: 24.10
Hour: 11    total hourly sales:  303.17    number of transactions: 14    average: 21.66
Hour: 12    total hourly sales:  375.64    number of transactions: 19    average: 19.77
Hour: 13    total hourly sales:  391.24    number of transactions: 21    average: 18.63
Hour: 14    total hourly sales:  526.52    number of transactions: 36    average: 14.63
Hour: 15    total hourly sales:  527.80    number of transactions: 26    average: 20.30
Hour: 16    total hourly sales:  333.44    number of transactions: 19    average: 17.55
Hour: 17    total hourly sales:  284.94    number of transactions: 11    average: 25.90
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Thu
Hour: 10    total hourly sales:  267.12    number of transactions: 16    average: 16.70
Hour: 11    total hourly sales:  368.46    number of transactions: 17    average: 21.67
Hour: 12    total hourly sales:  429.39    number of transactions: 16    average: 26.84
Hour: 13    total hourly sales:  272.14    number of transactions: 19    average: 14.32
Hour: 14    total hourly sales:  581.64    number of transactions: 27    average: 21.54
Hour: 15    total hourly sales:  553.79    number of transactions: 31    average: 17.86
Hour: 16    total hourly sales:  507.59    number of transactions: 29    average: 17.50
Hour: 17    total hourly sales:  581.16    number of transactions: 16    average: 36.32
Hour: 18    total hourly sales:   25.02    number of transactions:  1    average: 25.02
Hour: 19    total hourly sales:   16.60    number of transactions:  1    average: 16.60

Fri
Hour: 10    total hourly sales:  206.14    number of transactions: 13    average: 15.86
Hour: 11    total hourly sales:  376.45    number of transactions: 18    average: 20.91
Hour: 12    total hourly sales:  589.99    number of transactions: 17    average: 34.71
Hour: 13    total hourly sales:  141.23    number of transactions: 15    average:  9.42
Hour: 14    total hourly sales:  496.67    number of transactions: 23    average: 21.59
Hour: 15    total hourly sales:  258.49    number of transactions: 19    average: 13.60
Hour: 16    total hourly sales:  638.79    number of transactions: 31    average: 20.61
Hour: 17    total hourly sales:  429.55    number of transactions: 15    average: 28.64
Hour: 18    total hourly sales:   51.34    number of transactions:  5    average: 10.27
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Sat
Hour: 11    total hourly sales:  896.81    number of transactions: 22    average: 40.76
Hour: 12    total hourly sales:  752.47    number of transactions: 21    average: 35.83
Hour: 13    total hourly sales:  786.32    number of transactions: 27    average: 29.12
Hour: 14    total hourly sales:  785.34    number of transactions: 31    average: 25.33
Hour: 15    total hourly sales:  480.78    number of transactions: 19    average: 25.30
Hour: 16    total hourly sales:  466.74    number of transactions: 23    average: 20.29
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Sun
Hour: 11    total hourly sales:  461.46    number of transactions: 15    average: 30.76
Hour: 12    total hourly sales:  643.11    number of transactions: 21    average: 30.62
Hour: 13    total hourly sales:  659.71    number of transactions: 31    average: 21.28
Hour: 14    total hourly sales:  386.92    number of transactions: 21    average: 18.42
Hour: 15    total hourly sales:  311.03    number of transactions: 19    average: 16.37
Hour: 16    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

In [14]:
print("\n                  ——— September ———\n")
for i in range(7):
    print(days[i])
    for hour in hours:
        if (i >= 5) and (hour == 10 or hour == 17):
            continue
        if (i == 6) and (hour == 17):
            continue
        total = averages(sep, hour, i)['Total Due'].sum()
        count = averages(sep, hour, i)['Total Due'].count()
        print(f"Hour: {hour}    total hourly sales: {total:7.2f}    ", end ='')
        print(f"number of transactions: {count:2d}    average: {total/count:5.2f}")
    print("")

                  ——— September ———

Mon
Hour: 10    total hourly sales:  236.31    number of transactions:  8    average: 29.54
Hour: 11    total hourly sales:  370.34    number of transactions: 14    average: 26.45
Hour: 12    total hourly sales:  616.40    number of transactions: 28    average: 22.01
Hour: 13    total hourly sales:  169.95    number of transactions: 11    average: 15.45
Hour: 14    total hourly sales:  577.64    number of transactions: 29    average: 19.92
Hour: 15    total hourly sales:  187.11    number of transactions: 13    average: 14.39
Hour: 16    total hourly sales:  239.94    number of transactions: 20    average: 12.00
Hour: 17    total hourly sales:  318.04    number of transactions: 16    average: 19.88
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Tue
Hour: 10    total hourly sales:  193.51    number of transactions: 10    average: 19.35
Hour: 11    total hourly sales:  355.55    number of transactions: 13    average: 27.35
Hour: 12    total hourly sales:  557.00    number of transactions: 17    average: 32.76
Hour: 13    total hourly sales:  362.99    number of transactions: 21    average: 17.29
Hour: 14    total hourly sales:  402.53    number of transactions: 19    average: 21.19
Hour: 15    total hourly sales:  508.41    number of transactions: 30    average: 16.95
Hour: 16    total hourly sales:   96.00    number of transactions: 11    average:  8.73
Hour: 17    total hourly sales:  211.24    number of transactions:  6    average: 35.21
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Wed
Hour: 10    total hourly sales:   58.80    number of transactions:  6    average:  9.80
Hour: 11    total hourly sales:   98.88    number of transactions: 10    average:  9.89
Hour: 12    total hourly sales:  126.88    number of transactions:  8    average: 15.86
Hour: 13    total hourly sales:  162.02    number of transactions: 13    average: 12.46
Hour: 14    total hourly sales:  603.15    number of transactions: 22    average: 27.42
Hour: 15    total hourly sales:  115.73    number of transactions:  8    average: 14.47
Hour: 16    total hourly sales:  254.27    number of transactions: 10    average: 25.43
Hour: 17    total hourly sales:  121.50    number of transactions:  9    average: 13.50
Hour: 18    total hourly sales:    2.75    number of transactions:  1    average:  2.75
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Thu
Hour: 10    total hourly sales:  198.73    number of transactions: 16    average: 12.42
Hour: 11    total hourly sales:  419.39    number of transactions: 10    average: 41.94
Hour: 12    total hourly sales:  421.56    number of transactions: 14    average: 30.11
Hour: 13    total hourly sales:  187.54    number of transactions: 13    average: 14.43
Hour: 14    total hourly sales:  260.29    number of transactions: 26    average: 10.01
Hour: 15    total hourly sales:  193.04    number of transactions: 17    average: 11.36
Hour: 16    total hourly sales:  420.57    number of transactions: 15    average: 28.04
Hour: 17    total hourly sales:  145.46    number of transactions:  7    average: 20.78
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Fri
Hour: 10    total hourly sales:  129.14    number of transactions:  8    average: 16.14
Hour: 11    total hourly sales:  298.35    number of transactions: 14    average: 21.31
Hour: 12    total hourly sales:  277.90    number of transactions: 15    average: 18.53
Hour: 13    total hourly sales:  232.07    number of transactions: 16    average: 14.50
Hour: 14    total hourly sales:  513.77    number of transactions: 26    average: 19.76
Hour: 15    total hourly sales:  480.94    number of transactions: 24    average: 20.04
Hour: 16    total hourly sales:   91.15    number of transactions: 13    average:  7.01
Hour: 17    total hourly sales:  226.40    number of transactions:  9    average: 25.16
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Sat
Hour: 11    total hourly sales:  930.06    number of transactions: 32    average: 29.06
Hour: 12    total hourly sales:  933.45    number of transactions: 31    average: 30.11
Hour: 13    total hourly sales:  643.29    number of transactions: 31    average: 20.75
Hour: 14    total hourly sales:  895.05    number of transactions: 43    average: 20.82
Hour: 15    total hourly sales:  763.38    number of transactions: 31    average: 24.63
Hour: 16    total hourly sales:  761.15    number of transactions: 28    average: 27.18
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Sun
Hour: 11    total hourly sales:  769.83    number of transactions: 34    average: 22.64
Hour: 12    total hourly sales:  951.01    number of transactions: 38    average: 25.03
Hour: 13    total hourly sales: 1144.81    number of transactions: 42    average: 27.26
Hour: 14    total hourly sales:  773.87    number of transactions: 31    average: 24.96
Hour: 15    total hourly sales:  646.37    number of transactions: 31    average: 20.85
Hour: 16    total hourly sales:   49.60    number of transactions:  1    average: 49.60
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

In [15]:
print("\n                  ——— October ———\n")
for i in range(7):
    print(days[i])
    for hour in hours:
        if (i >= 5) and (hour == 10 or hour == 17):
            continue
        if (i == 6) and (hour == 17):
            continue
        total = averages(octo, hour, i)['Total Due'].sum()
        count = averages(octo, hour, i)['Total Due'].count()
        print(f"Hour: {hour}    total hourly sales: {total:7.2f}    ", end ='')
        print(f"number of transactions: {count:2d}    average: {total/count:5.2f}")
    print("")

                  ——— October ———

Mon
Hour: 10    total hourly sales:  227.72    number of transactions: 14    average: 16.27
Hour: 11    total hourly sales:  504.58    number of transactions: 22    average: 22.94
Hour: 12    total hourly sales:  631.89    number of transactions: 29    average: 21.79
Hour: 13    total hourly sales:  411.22    number of transactions: 18    average: 22.85
Hour: 14    total hourly sales:  451.96    number of transactions: 22    average: 20.54
Hour: 15    total hourly sales:  525.37    number of transactions: 28    average: 18.76
Hour: 16    total hourly sales:  166.36    number of transactions: 14    average: 11.88
Hour: 17    total hourly sales:  428.11    number of transactions: 24    average: 17.84
Hour: 18    total hourly sales:    2.34    number of transactions:  1    average:  2.34
Hour: 19    total hourly sales:   10.20    number of transactions:  1    average: 10.20

Tue
Hour: 10    total hourly sales:  188.67    number of transactions:  8    average: 23.58
Hour: 11    total hourly sales:  275.35    number of transactions: 17    average: 16.20
Hour: 12    total hourly sales:  309.27    number of transactions: 21    average: 14.73
Hour: 13    total hourly sales:  396.41    number of transactions: 19    average: 20.86
Hour: 14    total hourly sales:  462.31    number of transactions: 28    average: 16.51
Hour: 15    total hourly sales:  467.43    number of transactions: 24    average: 19.48
Hour: 16    total hourly sales:  528.19    number of transactions: 23    average: 22.96
Hour: 17    total hourly sales:  347.03    number of transactions: 13    average: 26.69
Hour: 18    total hourly sales:    4.00    number of transactions:  1    average:  4.00
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Wed
Hour: 10    total hourly sales:  266.22    number of transactions: 14    average: 19.02
Hour: 11    total hourly sales:  161.06    number of transactions: 12    average: 13.42
Hour: 12    total hourly sales:  462.56    number of transactions: 28    average: 16.52
Hour: 13    total hourly sales:  436.96    number of transactions: 22    average: 19.86
Hour: 14    total hourly sales:  242.77    number of transactions: 18    average: 13.49
Hour: 15    total hourly sales:  522.42    number of transactions: 29    average: 18.01
Hour: 16    total hourly sales:  410.51    number of transactions: 16    average: 25.66
Hour: 17    total hourly sales:  363.76    number of transactions: 14    average: 25.98
Hour: 18    total hourly sales:   22.90    number of transactions:  1    average: 22.90
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Thu
Hour: 10    total hourly sales:  241.78    number of transactions: 10    average: 24.18
Hour: 11    total hourly sales:  445.99    number of transactions: 19    average: 23.47
Hour: 12    total hourly sales:  554.92    number of transactions: 15    average: 36.99
Hour: 13    total hourly sales:  640.72    number of transactions: 28    average: 22.88
Hour: 14    total hourly sales:  500.41    number of transactions: 22    average: 22.75
Hour: 15    total hourly sales:  526.38    number of transactions: 30    average: 17.55
Hour: 16    total hourly sales:  347.38    number of transactions: 24    average: 14.47
Hour: 17    total hourly sales:  346.41    number of transactions: 14    average: 24.74
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Fri
Hour: 10    total hourly sales:  216.45    number of transactions: 10    average: 21.64
Hour: 11    total hourly sales:  441.39    number of transactions: 13    average: 33.95
Hour: 12    total hourly sales:  189.63    number of transactions: 19    average:  9.98
Hour: 13    total hourly sales:  326.44    number of transactions: 19    average: 17.18
Hour: 14    total hourly sales:  650.34    number of transactions: 25    average: 26.01
Hour: 15    total hourly sales:  627.63    number of transactions: 33    average: 19.02
Hour: 16    total hourly sales:  242.79    number of transactions: 10    average: 24.28
Hour: 17    total hourly sales:  253.72    number of transactions: 15    average: 16.91
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Sat
Hour: 11    total hourly sales:  618.18    number of transactions: 20    average: 30.91
Hour: 12    total hourly sales:  728.36    number of transactions: 29    average: 25.12
Hour: 13    total hourly sales: 1158.41    number of transactions: 42    average: 27.58
Hour: 14    total hourly sales: 1111.54    number of transactions: 33    average: 33.68
Hour: 15    total hourly sales:  817.03    number of transactions: 44    average: 18.57
Hour: 16    total hourly sales:  710.97    number of transactions: 26    average: 27.35
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Sun
Hour: 11    total hourly sales:  585.75    number of transactions: 21    average: 27.89
Hour: 12    total hourly sales:  793.19    number of transactions: 36    average: 22.03
Hour: 13    total hourly sales:  680.25    number of transactions: 33    average: 20.61
Hour: 14    total hourly sales: 1352.57    number of transactions: 57    average: 23.73
Hour: 15    total hourly sales: 1290.23    number of transactions: 48    average: 26.88
Hour: 16    total hourly sales:  271.83    number of transactions:  8    average: 33.98
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

In [16]:
print("\n                  ——— November ———\n")
for i in range(7):
    print(days[i])
    for hour in hours:
        if (i >= 5) and (hour == 10 or hour == 17):
            continue
        if (i == 6) and (hour == 17):
            continue
        total = averages(nov, hour, i)['Total Due'].sum()
        count = averages(nov, hour, i)['Total Due'].count()
        print(f"Hour: {hour}    total hourly sales: {total:7.2f}    ", end ='')
        print(f"number of transactions: {count:2d}    average: {total/count:5.2f}")
    print("")

                  ——— November ———

Mon
Hour: 10    total hourly sales:  138.72    number of transactions:  7    average: 19.82
Hour: 11    total hourly sales:  689.85    number of transactions: 25    average: 27.59
Hour: 12    total hourly sales:  436.78    number of transactions: 17    average: 25.69
Hour: 13    total hourly sales:  446.27    number of transactions: 20    average: 22.31
Hour: 14    total hourly sales:  576.25    number of transactions: 27    average: 21.34
Hour: 15    total hourly sales:  866.99    number of transactions: 32    average: 27.09
Hour: 16    total hourly sales:  561.05    number of transactions: 17    average: 33.00
Hour: 17    total hourly sales:  187.41    number of transactions:  9    average: 20.82
Hour: 18    total hourly sales:    2.75    number of transactions:  1    average:  2.75
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Tue
Hour: 10    total hourly sales:  419.85    number of transactions: 12    average: 34.99
Hour: 11    total hourly sales:  427.60    number of transactions: 17    average: 25.15
Hour: 12    total hourly sales:  286.29    number of transactions: 13    average: 22.02
Hour: 13    total hourly sales:   87.05    number of transactions:  8    average: 10.88
Hour: 14    total hourly sales:  289.81    number of transactions: 21    average: 13.80
Hour: 15    total hourly sales:  413.98    number of transactions: 17    average: 24.35
Hour: 16    total hourly sales:  455.70    number of transactions: 24    average: 18.99
Hour: 17    total hourly sales:   95.15    number of transactions:  7    average: 13.59
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Wed
Hour: 10    total hourly sales:  583.72    number of transactions: 22    average: 26.53
Hour: 11    total hourly sales:  454.49    number of transactions: 20    average: 22.72
Hour: 12    total hourly sales:  310.60    number of transactions: 13    average: 23.89
Hour: 13    total hourly sales:  374.57    number of transactions: 17    average: 22.03
Hour: 14    total hourly sales:  411.43    number of transactions: 13    average: 31.65
Hour: 15    total hourly sales:  365.65    number of transactions: 22    average: 16.62
Hour: 16    total hourly sales:  386.05    number of transactions: 18    average: 21.45
Hour: 17    total hourly sales:  347.12    number of transactions: 11    average: 31.56
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Thu
Hour: 10    total hourly sales:  410.33    number of transactions: 12    average: 34.19
Hour: 11    total hourly sales:  474.18    number of transactions: 17    average: 27.89
Hour: 12    total hourly sales:  522.66    number of transactions: 18    average: 29.04
Hour: 13    total hourly sales:  455.83    number of transactions: 20    average: 22.79
Hour: 14    total hourly sales:  560.46    number of transactions: 30    average: 18.68
Hour: 15    total hourly sales:  306.45    number of transactions: 19    average: 16.13
Hour: 16    total hourly sales:  305.78    number of transactions: 20    average: 15.29
Hour: 17    total hourly sales:  158.30    number of transactions: 10    average: 15.83
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Fri
Hour: 10    total hourly sales:  253.07    number of transactions: 11    average: 23.01
Hour: 11    total hourly sales:  443.83    number of transactions: 16    average: 27.74
Hour: 12    total hourly sales:  549.45    number of transactions: 28    average: 19.62
Hour: 13    total hourly sales:  704.67    number of transactions: 32    average: 22.02
Hour: 14    total hourly sales:  849.28    number of transactions: 32    average: 26.54
Hour: 15    total hourly sales:  440.37    number of transactions: 22    average: 20.02
Hour: 16    total hourly sales:  313.38    number of transactions: 17    average: 18.43
Hour: 17    total hourly sales:  181.68    number of transactions: 12    average: 15.14
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Sat
Hour: 11    total hourly sales:  560.06    number of transactions: 21    average: 26.67
Hour: 12    total hourly sales: 1165.82    number of transactions: 35    average: 33.31
Hour: 13    total hourly sales:  917.62    number of transactions: 42    average: 21.85
Hour: 14    total hourly sales:  997.50    number of transactions: 33    average: 30.23
Hour: 15    total hourly sales: 1518.22    number of transactions: 59    average: 25.73
Hour: 16    total hourly sales:  652.72    number of transactions: 30    average: 21.76
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Sun
Hour: 11    total hourly sales:  713.58    number of transactions: 27    average: 26.43
Hour: 12    total hourly sales:  809.93    number of transactions: 30    average: 27.00
Hour: 13    total hourly sales: 1177.15    number of transactions: 33    average: 35.67
Hour: 14    total hourly sales:  640.28    number of transactions: 30    average: 21.34
Hour: 15    total hourly sales:  743.11    number of transactions: 37    average: 20.08
Hour: 16    total hourly sales:  103.36    number of transactions:  3    average: 34.45
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

In [17]:
print("\n                  ——— December ———\n")
for i in range(7):
    print(days[i])
    for hour in hours:
        if (i >= 5) and (hour == 10 or hour == 17):
            continue
        if (i == 6) and (hour == 17):
            continue
        total = averages(dec, hour, i)['Total Due'].sum()
        count = averages(dec, hour, i)['Total Due'].count()
        print(f"Hour: {hour}    total hourly sales: {total:7.2f}    ", end ='')
        print(f"number of transactions: {count:2d}    average: {total/count:5.2f}")
    print("")

                  ——— December ———

Mon
Hour: 10    total hourly sales:  471.54    number of transactions: 20    average: 23.58
Hour: 11    total hourly sales:  710.91    number of transactions: 30    average: 23.70
Hour: 12    total hourly sales:  828.77    number of transactions: 26    average: 31.88
Hour: 13    total hourly sales:  564.69    number of transactions: 23    average: 24.55
Hour: 14    total hourly sales:  631.65    number of transactions: 29    average: 21.78
Hour: 15    total hourly sales:  864.52    number of transactions: 34    average: 25.43
Hour: 16    total hourly sales:  327.37    number of transactions: 13    average: 25.18
Hour: 17    total hourly sales:  294.34    number of transactions:  8    average: 36.79
Hour: 18    total hourly sales:   10.00    number of transactions:  1    average: 10.00
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Tue
Hour: 10    total hourly sales:  239.72    number of transactions:  7    average: 34.25
Hour: 11    total hourly sales:  357.85    number of transactions: 12    average: 29.82
Hour: 12    total hourly sales:  305.91    number of transactions: 14    average: 21.85
Hour: 13    total hourly sales:  316.05    number of transactions: 13    average: 24.31
Hour: 14    total hourly sales:  445.44    number of transactions: 29    average: 15.36
Hour: 15    total hourly sales:  355.16    number of transactions: 23    average: 15.44
Hour: 16    total hourly sales:  334.01    number of transactions: 16    average: 20.88
Hour: 17    total hourly sales:  410.12    number of transactions: 15    average: 27.34
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Wed
Hour: 10    total hourly sales:  528.03    number of transactions: 20    average: 26.40
Hour: 11    total hourly sales:  537.08    number of transactions: 18    average: 29.84
Hour: 12    total hourly sales:  390.83    number of transactions: 17    average: 22.99
Hour: 13    total hourly sales:  713.94    number of transactions: 31    average: 23.03
Hour: 14    total hourly sales:  676.85    number of transactions: 32    average: 21.15
Hour: 15    total hourly sales:  624.44    number of transactions: 17    average: 36.73
Hour: 16    total hourly sales:  389.79    number of transactions: 24    average: 16.24
Hour: 17    total hourly sales:  558.84    number of transactions: 18    average: 31.05
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Thu
Hour: 10    total hourly sales:  521.91    number of transactions: 22    average: 23.72
Hour: 11    total hourly sales:  615.42    number of transactions: 17    average: 36.20
Hour: 12    total hourly sales:  558.61    number of transactions: 32    average: 17.46
Hour: 13    total hourly sales:  678.15    number of transactions: 29    average: 23.38
Hour: 14    total hourly sales: 1068.46    number of transactions: 35    average: 30.53
Hour: 15    total hourly sales:  725.40    number of transactions: 30    average: 24.18
Hour: 16    total hourly sales:  771.61    number of transactions: 22    average: 35.07
Hour: 17    total hourly sales:  488.49    number of transactions: 18    average: 27.14
Hour: 18    total hourly sales:   10.50    number of transactions:  1    average: 10.50
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Fri
Hour: 10    total hourly sales:  316.06    number of transactions: 25    average: 12.64
Hour: 11    total hourly sales:  557.30    number of transactions: 26    average: 21.43
Hour: 12    total hourly sales:  805.67    number of transactions: 33    average: 24.41
Hour: 13    total hourly sales:  951.65    number of transactions: 37    average: 25.72
Hour: 14    total hourly sales: 1047.89    number of transactions: 41    average: 25.56
Hour: 15    total hourly sales:  919.53    number of transactions: 32    average: 28.74
Hour: 16    total hourly sales:  320.57    number of transactions: 21    average: 15.27
Hour: 17    total hourly sales:  395.52    number of transactions: 21    average: 18.83
Hour: 18    total hourly sales:   32.90    number of transactions:  1    average: 32.90
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Sat
Hour: 11    total hourly sales: 1856.54    number of transactions: 50    average: 37.13
Hour: 12    total hourly sales: 1413.23    number of transactions: 56    average: 25.24
Hour: 13    total hourly sales: 1655.31    number of transactions: 53    average: 31.23
Hour: 14    total hourly sales: 1157.22    number of transactions: 44    average: 26.30
Hour: 15    total hourly sales: 1414.30    number of transactions: 62    average: 22.81
Hour: 16    total hourly sales: 1810.35    number of transactions: 62    average: 29.20
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

Sun
Hour: 11    total hourly sales: 1310.10    number of transactions: 46    average: 28.48
Hour: 12    total hourly sales: 1211.09    number of transactions: 43    average: 28.16
Hour: 13    total hourly sales: 1662.93    number of transactions: 49    average: 33.94
Hour: 14    total hourly sales: 1302.45    number of transactions: 44    average: 29.60
Hour: 15    total hourly sales: 1914.23    number of transactions: 49    average: 39.07
Hour: 16    total hourly sales:  493.14    number of transactions:  9    average: 54.79
Hour: 18    total hourly sales:    0.00    number of transactions:  0    average:   nan
Hour: 19    total hourly sales:    0.00    number of transactions:  0    average:   nan

In [18]:
jan['Day'] = jan['Time'].dt.weekday
jan['Hour'] = jan['Time'].dt.hour

feb['Day'] = feb['Time'].dt.weekday
feb['Hour'] = feb['Time'].dt.hour

mar['Day'] = mar['Time'].dt.weekday
mar['Hour'] = mar['Time'].dt.hour

apr['Day'] = apr['Time'].dt.weekday
apr['Hour'] = apr['Time'].dt.hour

may['Day'] = may['Time'].dt.weekday
may['Hour'] = may['Time'].dt.hour

jun['Day'] = jun['Time'].dt.weekday
jun['Hour'] = jun['Time'].dt.hour

jul['Day'] = jul['Time'].dt.weekday
jul['Hour'] = jul['Time'].dt.hour

aug['Day'] = aug['Time'].dt.weekday
aug['Hour'] = aug['Time'].dt.hour

sep['Day'] = sep['Time'].dt.weekday
sep['Hour'] = sep['Time'].dt.hour

octo['Day'] = octo['Time'].dt.weekday
octo['Hour'] = octo['Time'].dt.hour

nov['Day'] = nov['Time'].dt.weekday
nov['Hour'] = nov['Time'].dt.hour

dec['Day'] = dec['Time'].dt.weekday
dec['Hour'] = dec['Time'].dt.hour

#jan.groupby(['Day', 'Hour'])['Total Due'].sum()
#apr.groupby(['Day', 'Hour'])['Total Due'].sum()

In [19]:
avgs = jan.groupby(['Day', 'Hour'])['Total Due'].sum().groupby('Hour').mean()
print("——— January ———")
print("Time\tAverage Total Sales")
for idx, value in enumerate(avgs):
    print(f"{hours_12[idx]:>2}\t${value:7.2f}")

——— January ———
Time	Average Total Sales
10	$  28.00
11	$ 237.65
12	$ 395.29
 1	$ 577.21
 2	$ 504.72
 3	$ 642.40
 4	$ 538.18
 5	$ 324.81
 6	$ 166.48
 7	$  43.77

In [20]:
avgs = feb.groupby(['Day', 'Hour'])['Total Due'].sum().groupby('Hour').mean()
print("——— February ———")
print("Time\tAverage Total Sales")
for idx, value in enumerate(avgs):
    print(f"{hours_12[idx]:>2}\t${value:7.2f}")

——— February ———
Time	Average Total Sales
10	$ 199.31
11	$ 416.64
12	$ 611.54
 1	$ 508.83
 2	$ 576.15
 3	$ 571.58
 4	$ 353.26
 5	$ 143.60
 6	$  17.60

In [21]:
avgs = mar.groupby(['Day', 'Hour'])['Total Due'].sum().groupby('Hour').mean()
print("——— March ———")
print("Time\tAverage Total Sales")
for idx, value in enumerate(avgs):
    print(f"{hours_12[idx]:>2}\t${value:7.2f}")

——— March ———
Time	Average Total Sales
10	$ 188.15
11	$ 412.69
12	$ 591.59
 1	$ 423.25
 2	$ 654.50
 3	$ 596.07
 4	$ 534.14
 5	$ 416.54
 6	$  55.71

In [22]:
avgs = apr.groupby(['Day', 'Hour'])['Total Due'].sum().groupby('Hour').mean()
print("——— April ———")
print("Time\tAverage Total Sales")
for idx, value in enumerate(avgs):
    print(f"{hours_12[idx]:>2}\t${value:7.2f}")

——— April ———
Time	Average Total Sales
10	$  20.25
11	$ 220.71
12	$ 402.40
 1	$ 543.34
 2	$ 537.03
 3	$ 566.89
 4	$ 487.57
 5	$ 337.58
 6	$ 228.81
 7	$  14.07

In [23]:
avgs = may.groupby(['Day', 'Hour'])['Total Due'].sum().groupby('Hour').mean()
print("——— May ———")
print("Time\tAverage Total Sales")
for idx, value in enumerate(avgs):
    print(f"{hours_12[idx]:>2}\t${value:7.2f}")

——— May ———
Time	Average Total Sales
10	$ 241.80
11	$ 401.25
12	$ 446.71
 1	$ 457.44
 2	$ 491.65
 3	$ 523.59
 4	$ 359.73
 5	$ 250.40
 6	$  54.95

In [24]:
avgs = jun.groupby(['Day', 'Hour'])['Total Due'].sum().groupby('Hour').mean()
print("——— June ———")
print("Time\tAverage Total Sales")
for idx, value in enumerate(avgs):
    print(f"{hours_12[idx]:>2}\t${value:7.2f}")

——— June ———
Time	Average Total Sales
10	$  68.30
11	$ 197.28
12	$ 348.59
 1	$ 478.95
 2	$ 366.19
 3	$ 570.71
 4	$ 463.76
 5	$ 284.20
 6	$ 286.42

In [25]:
avgs = jul.groupby(['Day', 'Hour'])['Total Due'].sum().groupby('Hour').mean()
print("——— July ———")
print("Time\tAverage Total Sales")
for idx, value in enumerate(avgs):
    print(f"{hours_12[idx]:>2}\t${value:7.2f}")

——— July ———
Time	Average Total Sales
10	$   2.75
11	$ 196.86
12	$ 311.86
 1	$ 395.76
 2	$ 458.67
 3	$ 417.99
 4	$ 506.39
 5	$ 353.67
 6	$ 318.50
 7	$  50.33

In [26]:
avgs = aug.groupby(['Day', 'Hour'])['Total Due'].sum().groupby('Hour').mean()
print("——— August ———")
print("Time\tAverage Total Sales")
for idx, value in enumerate(avgs):
    print(f"{hours_12[idx]:>2}\t${value:7.2f}")

——— August ———
Time	Average Total Sales
10	$ 237.63
11	$ 385.78
12	$ 517.43
 1	$ 429.38
 2	$ 468.86
 3	$ 364.43
 4	$ 410.72
 5	$ 356.03
 6	$  47.59
 7	$  16.60

In [27]:
avgs = sep.groupby(['Day', 'Hour'])['Total Due'].sum().groupby('Hour').mean()
print("——— September ———")
print("Time\tAverage Total Sales")
for idx, value in enumerate(avgs):
    print(f"{hours_12[idx]:>2}\t${value:7.2f}")

——— September ———
Time	Average Total Sales
10	$ 163.30
11	$ 463.20
12	$ 554.89
 1	$ 414.67
 2	$ 575.19
 3	$ 413.57
 4	$ 273.24
 5	$ 185.24
 6	$   2.75

In [28]:
avgs = octo.groupby(['Day', 'Hour'])['Total Due'].sum().groupby('Hour').mean()
print("——— October ———")
print("Time\tAverage Total Sales")
for idx, value in enumerate(avgs):
    print(f"{hours_12[idx]:>2}\t${value:7.2f}")

——— October ———
Time	Average Total Sales
10	$   2.25
11	$ 228.17
12	$ 433.19
 1	$ 524.26
 2	$ 578.63
 3	$ 681.70
 4	$ 682.36
 5	$ 382.58
 6	$ 292.01
 7	$   9.75
 8	$  10.20
 9	$  71.65

In [29]:
avgs = nov.groupby(['Day', 'Hour'])['Total Due'].sum().groupby('Hour').mean()
print("——— November ———")
print("Time\tAverage Total Sales")
for idx, value in enumerate(avgs):
    print(f"{hours_12[idx]:>2}\t${value:7.2f}")

——— November ———
Time	Average Total Sales
10	$  21.76
11	$ 361.14
12	$ 537.66
 1	$ 583.08
 2	$ 594.74
 3	$ 617.86
 4	$ 664.97
 5	$ 396.86
 6	$ 163.81
 7	$   2.75

In [30]:
avgs = dec.groupby(['Day', 'Hour'])['Total Due'].sum().groupby('Hour').mean()
print("——— December ———")
print("Time\tAverage Total Sales")
for idx, value in enumerate(avgs):
    print(f"{hours_12[idx]:>2}\t${value:7.2f}")

——— December ———
Time	Average Total Sales
10	$ 415.45
11	$ 849.31
12	$ 787.73
 1	$ 934.67
 2	$ 904.28
 3	$ 973.94
 4	$ 635.26
 5	$ 364.99
 6	$  17.80