In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from IPython.display import display, HTML

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
To toggle seeing the raw code for the ENTIRE notebook, click <a href="javascript:code_toggle()">here</a>.''')

In [4]:
data = pd.read_csv("jasminepearl_20190501-20190531-MAY-transactions.csv")
data['Time'] = pd.to_datetime(data['Time'])

data.drop(['Customer Name', 'Customer Email', 'New Liabilities', 'Tax', 'Tips', 'Card Type',
           'Receipt Number', 'Transaction ID', 'Operation Type', 'Last 4 Digits',
           'Cardholder Name', 'Register Name/Number', 'Tendered Amount'], 1, inplace=True)

data_june = pd.read_csv("jasminepearl_20190601-20190630-JUNE-transactions.csv")
data_june['Time'] = pd.to_datetime(data_june['Time'])

data_june.drop(['Customer Name', 'Customer Email', 'New Liabilities', 'Tax', 'Tips', 'Card Type',
           'Receipt Number', 'Transaction ID', 'Operation Type', 'Last 4 Digits',
           'Cardholder Name', 'Register Name/Number', 'Tendered Amount'], 1, inplace=True)

may = data.loc[data['Time'].dt.month == 5]
jun = data_june.loc[data_june['Time'].dt.month == 6]

In [5]:
def averages(mnth, hour, day):
    """get dataframe for specified hour of given day"""
    return mnth.loc[(mnth['Time'].dt.hour == hour) &
             (mnth['Time'].dt.weekday == day)]

In [6]:
hours = [10, 11, 12, 13, 14, 15, 16, 17]
days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

print("\n                  ——— May ———\n")
for i in range(7):
    print(days[i])
    for hour in hours:
        if (i >= 5) and (hour == 10 or hour == 17):
            continue
        if (i == 6) and (hour == 17):
            continue
        total = averages(may, hour, i)['Total Due'].sum()
        count = averages(may, hour, i)['Total Due'].count()
        print(f"Hour: {hour}    total hourly sales: {total:7.2f}    ", end ='')
        print(f"number of transactions: {count:2d}    average: {total/count:5.2f}")
    print("")

                  ——— May ———

Mon
Hour: 10    total hourly sales:  416.49    number of transactions: 12    average: 34.71
Hour: 11    total hourly sales:  329.75    number of transactions: 15    average: 21.98
Hour: 12    total hourly sales:  432.77    number of transactions: 17    average: 25.46
Hour: 13    total hourly sales:  520.40    number of transactions: 14    average: 37.17
Hour: 14    total hourly sales:  310.34    number of transactions:  9    average: 34.48
Hour: 15    total hourly sales:  216.53    number of transactions: 17    average: 12.74
Hour: 16    total hourly sales:  304.27    number of transactions: 12    average: 25.36
Hour: 17    total hourly sales:  219.62    number of transactions:  6    average: 36.60

Tue
Hour: 10    total hourly sales:  157.66    number of transactions:  8    average: 19.71
Hour: 11    total hourly sales:   69.59    number of transactions:  4    average: 17.40
Hour: 12    total hourly sales:  255.10    number of transactions: 12    average: 21.26
Hour: 13    total hourly sales:  291.92    number of transactions: 10    average: 29.19
Hour: 14    total hourly sales:  124.67    number of transactions:  8    average: 15.58
Hour: 15    total hourly sales:  244.44    number of transactions: 14    average: 17.46
Hour: 16    total hourly sales:  100.37    number of transactions:  8    average: 12.55
Hour: 17    total hourly sales:  316.13    number of transactions: 14    average: 22.58

Wed
Hour: 10    total hourly sales:  503.10    number of transactions: 14    average: 35.94
Hour: 11    total hourly sales:  223.53    number of transactions:  9    average: 24.84
Hour: 12    total hourly sales:  468.29    number of transactions: 13    average: 36.02
Hour: 13    total hourly sales:  703.73    number of transactions: 25    average: 28.15
Hour: 14    total hourly sales:  370.80    number of transactions: 14    average: 26.49
Hour: 15    total hourly sales:  176.35    number of transactions: 16    average: 11.02
Hour: 16    total hourly sales:  273.40    number of transactions:  7    average: 39.06
Hour: 17    total hourly sales:  267.17    number of transactions: 10    average: 26.72

Thu
Hour: 10    total hourly sales:  313.34    number of transactions: 11    average: 28.49
Hour: 11    total hourly sales:  208.37    number of transactions:  9    average: 23.15
Hour: 12    total hourly sales:  367.83    number of transactions: 12    average: 30.65
Hour: 13    total hourly sales:  197.36    number of transactions: 15    average: 13.16
Hour: 14    total hourly sales:  353.12    number of transactions: 14    average: 25.22
Hour: 15    total hourly sales:  326.75    number of transactions: 20    average: 16.34
Hour: 16    total hourly sales:  357.81    number of transactions: 15    average: 23.85
Hour: 17    total hourly sales:  202.77    number of transactions:  7    average: 28.97

Fri
Hour: 10    total hourly sales:  327.15    number of transactions: 13    average: 25.17
Hour: 11    total hourly sales:  201.60    number of transactions: 17    average: 11.86
Hour: 12    total hourly sales:  321.06    number of transactions:  9    average: 35.67
Hour: 13    total hourly sales:  406.90    number of transactions: 15    average: 27.13
Hour: 14    total hourly sales:  549.11    number of transactions: 27    average: 20.34
Hour: 15    total hourly sales:  200.42    number of transactions:  9    average: 22.27
Hour: 16    total hourly sales:  109.68    number of transactions: 13    average:  8.44
Hour: 17    total hourly sales:  485.84    number of transactions: 14    average: 34.70

Sat
Hour: 11    total hourly sales:  525.85    number of transactions: 15    average: 35.06
Hour: 12    total hourly sales:  602.83    number of transactions: 21    average: 28.71
Hour: 13    total hourly sales:  671.39    number of transactions: 25    average: 26.86
Hour: 14    total hourly sales:  793.06    number of transactions: 26    average: 30.50
Hour: 15    total hourly sales:  605.25    number of transactions: 26    average: 23.28
Hour: 16    total hourly sales:  391.58    number of transactions: 12    average: 32.63

Sun
Hour: 11    total hourly sales:  250.36    number of transactions: 13    average: 19.26
Hour: 12    total hourly sales:  406.10    number of transactions: 16    average: 25.38
Hour: 13    total hourly sales:  438.32    number of transactions: 20    average: 21.92
Hour: 14    total hourly sales:  499.81    number of transactions: 19    average: 26.31
Hour: 15    total hourly sales: 1249.12    number of transactions: 31    average: 40.29
Hour: 16    total hourly sales:   54.13    number of transactions:  3    average: 18.04

In [7]:
hours = [10, 11, 12, 13, 14, 15, 16, 17]
days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

print("\n                  ——— June ———\n")
for i in range(7):
    print(days[i])
    for hour in hours:
        if (i >= 5) and (hour == 10 or hour == 17):
            continue
        if (i == 6) and (hour == 17):
            continue
        total = averages(jun, hour, i)['Total Due'].sum()
        count = averages(jun, hour, i)['Total Due'].count()
        print(f"Hour: {hour}    total hourly sales: {total:7.2f}    ", end ='')
        print(f"number of transactions: {count:2d}    average: {total/count:5.2f}")
    print("")

                  ——— June ———

Mon
Hour: 10    total hourly sales:  281.90    number of transactions: 11    average: 25.63
Hour: 11    total hourly sales:  221.61    number of transactions: 18    average: 12.31
Hour: 12    total hourly sales:  260.11    number of transactions: 10    average: 26.01
Hour: 13    total hourly sales:  437.89    number of transactions: 16    average: 27.37
Hour: 14    total hourly sales:  319.44    number of transactions: 18    average: 17.75
Hour: 15    total hourly sales:  304.63    number of transactions: 16    average: 19.04
Hour: 16    total hourly sales:  139.81    number of transactions:  8    average: 17.48
Hour: 17    total hourly sales:  463.14    number of transactions: 13    average: 35.63

Tue
Hour: 10    total hourly sales:  131.87    number of transactions: 12    average: 10.99
Hour: 11    total hourly sales:  157.34    number of transactions:  8    average: 19.67
Hour: 12    total hourly sales:  444.23    number of transactions: 12    average: 37.02
Hour: 13    total hourly sales:  296.22    number of transactions: 12    average: 24.69
Hour: 14    total hourly sales:  186.10    number of transactions: 13    average: 14.32
Hour: 15    total hourly sales:  437.56    number of transactions: 18    average: 24.31
Hour: 16    total hourly sales:  218.88    number of transactions: 10    average: 21.89
Hour: 17    total hourly sales:  361.68    number of transactions: 12    average: 30.14

Wed
Hour: 10    total hourly sales:  332.65    number of transactions: 12    average: 27.72
Hour: 11    total hourly sales:  290.01    number of transactions: 12    average: 24.17
Hour: 12    total hourly sales:  160.49    number of transactions: 16    average: 10.03
Hour: 13    total hourly sales:  339.07    number of transactions: 12    average: 28.26
Hour: 14    total hourly sales:  498.46    number of transactions: 16    average: 31.15
Hour: 15    total hourly sales:  149.39    number of transactions: 12    average: 12.45
Hour: 16    total hourly sales:   47.98    number of transactions:  2    average: 23.99
Hour: 17    total hourly sales:  312.38    number of transactions: 11    average: 28.40

Thu
Hour: 10    total hourly sales:  292.09    number of transactions:  9    average: 32.45
Hour: 11    total hourly sales:  247.73    number of transactions: 12    average: 20.64
Hour: 12    total hourly sales:  365.82    number of transactions: 14    average: 26.13
Hour: 13    total hourly sales:  284.91    number of transactions: 15    average: 18.99
Hour: 14    total hourly sales:  641.54    number of transactions: 23    average: 27.89
Hour: 15    total hourly sales:  331.37    number of transactions: 12    average: 27.61
Hour: 16    total hourly sales:  229.39    number of transactions: 11    average: 20.85
Hour: 17    total hourly sales:  211.72    number of transactions:  9    average: 23.52

Fri
Hour: 10    total hourly sales:  248.78    number of transactions: 11    average: 22.62
Hour: 11    total hourly sales:  414.05    number of transactions: 13    average: 31.85
Hour: 12    total hourly sales:  321.74    number of transactions: 13    average: 24.75
Hour: 13    total hourly sales:  490.34    number of transactions: 21    average: 23.35
Hour: 14    total hourly sales:  672.32    number of transactions: 25    average: 26.89
Hour: 15    total hourly sales:  177.94    number of transactions:  9    average: 19.77
Hour: 16    total hourly sales:  268.04    number of transactions: 15    average: 17.87
Hour: 17    total hourly sales:  134.50    number of transactions:  6    average: 22.42

Sat
Hour: 11    total hourly sales:  308.43    number of transactions: 18    average: 17.14
Hour: 12    total hourly sales:  604.12    number of transactions: 22    average: 27.46
Hour: 13    total hourly sales:  804.84    number of transactions: 25    average: 32.19
Hour: 14    total hourly sales:  834.69    number of transactions: 32    average: 26.08
Hour: 15    total hourly sales: 1251.36    number of transactions: 44    average: 28.44
Hour: 16    total hourly sales:  601.07    number of transactions: 20    average: 30.05

Sun
Hour: 11    total hourly sales:  670.80    number of transactions: 17    average: 39.46
Hour: 12    total hourly sales: 1094.64    number of transactions: 33    average: 33.17
Hour: 13    total hourly sales:  511.39    number of transactions: 20    average: 25.57
Hour: 14    total hourly sales:  772.78    number of transactions: 28    average: 27.60
Hour: 15    total hourly sales:  556.58    number of transactions: 19    average: 29.29
Hour: 16    total hourly sales:    0.00    number of transactions:  0    average:   nan

In [8]:
may['Day'] = may['Time'].dt.weekday
may['Hour'] = may['Time'].dt.hour

jun['Day'] = jun['Time'].dt.weekday
jun['Hour'] = jun['Time'].dt.hour

In [9]:
hours = '10 11 12 1 2 3 4 5 6'.split()

avgs = may.groupby(['Day', 'Hour'])['Total Due'].sum().groupby('Hour').mean()
print("——— May ———")
print("Time\tAverage Total Sales")
for idx, value in enumerate(avgs):
    print(f"{hours[idx]:>2}\t${value:7.2f}")

——— May ———
Time	Average Total Sales
10	$ 343.55
11	$ 258.44
12	$ 407.71
 1	$ 461.43
 2	$ 428.70
 3	$ 431.27
 4	$ 227.32
 5	$ 298.31
 6	$   6.60

In [10]:
avgs = jun.groupby(['Day', 'Hour'])['Total Due'].sum().groupby('Hour').mean()
print("——— June ———")
print("Time\tAverage Total Sales")
for idx, value in enumerate(avgs):
    print(f"{hours[idx]:>2}\t${value:7.2f}")

——— June ———
Time	Average Total Sales
10	$ 257.46
11	$ 330.00
12	$ 464.45
 1	$ 452.09
 2	$ 560.76
 3	$ 458.40
 4	$ 250.86
 5	$ 296.68
 6	$  27.61

IndexError: list index out of range