In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from IPython.display import display, HTML

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [2]:
HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
To toggle seeing the raw code for the ENTIRE notebook, click <a href="javascript:code_toggle()">here</a>.''')

In [3]:
data = pd.read_csv("jasminepearl_20190101-20190509-transactions.csv")
data['Time'] = pd.to_datetime(data['Time'])

data.drop(['Customer Name', 'Customer Email', 'New Liabilities', 'Tax', 'Tips', 'Card Type',
           'Receipt Number', 'Transaction ID', 'Operation Type', 'Last 4 Digits',
           'Cardholder Name', 'Register Name/Number', 'Tendered Amount'], 1, inplace=True)

jan = data.loc[data['Time'].dt.month == 1]
apr = data.loc[data['Time'].dt.month == 4]
mar = data.loc[data['Time'].dt.month == 3]

In [4]:
def averages(mnth, hour, day):
    """get dataframe for specified hour of given day"""
    return mnth.loc[(mnth['Time'].dt.hour == hour) &
             (mnth['Time'].dt.weekday == day)]

In [5]:
hours = [10, 11, 12, 13, 14, 15, 16, 17]
days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

print("\n                  ——— January ———\n")
for i in range(7):
    print(days[i])
    for hour in hours:
        if (i >= 5) and (hour == 10 or hour == 17):
            continue
        if (i == 6) and (hour == 17):
            continue
        total = averages(jan, hour, i)['Total Due'].sum()
        count = averages(jan, hour, i)['Total Due'].count()
        print(f"Hour: {hour}    total hourly sales: {total:7.2f}    ", end ='')
        print(f"number of transactions: {count:2d}    average: {total/count:5.2f}")
    print("")

                  ——— January ———

Mon
Hour: 10    total hourly sales:  190.21    number of transactions:  7    average: 27.17
Hour: 11    total hourly sales:  321.15    number of transactions: 18    average: 17.84
Hour: 12    total hourly sales:  361.32    number of transactions: 24    average: 15.05
Hour: 13    total hourly sales:  261.36    number of transactions: 11    average: 23.76
Hour: 14    total hourly sales:  364.83    number of transactions: 25    average: 14.59
Hour: 15    total hourly sales:  430.76    number of transactions: 26    average: 16.57
Hour: 16    total hourly sales:  454.40    number of transactions: 20    average: 22.72
Hour: 17    total hourly sales:  192.82    number of transactions: 12    average: 16.07

Tue
Hour: 10    total hourly sales:   95.95    number of transactions:  9    average: 10.66
Hour: 11    total hourly sales:  192.82    number of transactions: 13    average: 14.83
Hour: 12    total hourly sales:  349.10    number of transactions: 13    average: 26.85
Hour: 13    total hourly sales:  424.72    number of transactions: 23    average: 18.47
Hour: 14    total hourly sales:  175.70    number of transactions: 21    average:  8.37
Hour: 15    total hourly sales:  229.33    number of transactions: 17    average: 13.49
Hour: 16    total hourly sales:  553.58    number of transactions: 21    average: 26.36
Hour: 17    total hourly sales:  321.87    number of transactions: 13    average: 24.76

Wed
Hour: 10    total hourly sales:  166.11    number of transactions: 13    average: 12.78
Hour: 11    total hourly sales:  391.83    number of transactions: 20    average: 19.59
Hour: 12    total hourly sales:  312.60    number of transactions: 17    average: 18.39
Hour: 13    total hourly sales:  601.47    number of transactions: 31    average: 19.40
Hour: 14    total hourly sales:  415.99    number of transactions: 24    average: 17.33
Hour: 15    total hourly sales:  456.63    number of transactions: 28    average: 16.31
Hour: 16    total hourly sales:  417.85    number of transactions: 15    average: 27.86
Hour: 17    total hourly sales:  195.97    number of transactions:  8    average: 24.50

Thu
Hour: 10    total hourly sales:  253.39    number of transactions: 14    average: 18.10
Hour: 11    total hourly sales:  435.35    number of transactions: 24    average: 18.14
Hour: 12    total hourly sales:  624.16    number of transactions: 26    average: 24.01
Hour: 13    total hourly sales:  657.21    number of transactions: 22    average: 29.87
Hour: 14    total hourly sales:  585.10    number of transactions: 35    average: 16.72
Hour: 15    total hourly sales:  404.61    number of transactions: 20    average: 20.23
Hour: 16    total hourly sales:  374.24    number of transactions: 20    average: 18.71
Hour: 17    total hourly sales:  209.70    number of transactions: 10    average: 20.97

Fri
Hour: 10    total hourly sales:   60.42    number of transactions:  8    average:  7.55
Hour: 11    total hourly sales:  252.32    number of transactions: 13    average: 19.41
Hour: 12    total hourly sales:  424.48    number of transactions: 13    average: 32.65
Hour: 13    total hourly sales:  211.91    number of transactions: 18    average: 11.77
Hour: 14    total hourly sales:  609.22    number of transactions: 17    average: 35.84
Hour: 15    total hourly sales:  573.87    number of transactions: 26    average: 22.07
Hour: 16    total hourly sales:  437.35    number of transactions: 18    average: 24.30
Hour: 17    total hourly sales:  259.68    number of transactions: 12    average: 21.64

Sat
Hour: 11    total hourly sales:  952.87    number of transactions: 33    average: 28.87
Hour: 12    total hourly sales: 1063.45    number of transactions: 35    average: 30.38
Hour: 13    total hourly sales: 1160.91    number of transactions: 46    average: 25.24
Hour: 14    total hourly sales: 1054.73    number of transactions: 42    average: 25.11
Hour: 15    total hourly sales: 1155.27    number of transactions: 47    average: 24.58
Hour: 16    total hourly sales: 1023.64    number of transactions: 44    average: 23.26

Sun
Hour: 11    total hourly sales:  259.89    number of transactions: 17    average: 15.29
Hour: 12    total hourly sales:  478.22    number of transactions: 23    average: 20.79
Hour: 13    total hourly sales:  865.76    number of transactions: 43    average: 20.13
Hour: 14    total hourly sales:  829.35    number of transactions: 33    average: 25.13
Hour: 15    total hourly sales:  940.73    number of transactions: 42    average: 22.40
Hour: 16    total hourly sales:   31.30    number of transactions:  2    average: 15.65

In [6]:
hours = [10, 11, 12, 13, 14, 15, 16, 17]
days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

print("\n                  ——— March ———\n")
for i in range(7):
    print(days[i])
    for hour in hours:
        if (i >= 5) and (hour == 10 or hour == 17):
            continue
        if (i == 6) and (hour == 17):
            continue
        total = averages(mar, hour, i)['Total Due'].sum()
        count = averages(mar, hour, i)['Total Due'].count()
        print(f"Hour: {hour}    total hourly sales: {total:7.2f}    ", end ='')
        print(f"number of transactions: {count:2d}    average: {total/count:5.2f}")
    print("")

                  ——— March ———

Mon
Hour: 10    total hourly sales:  164.48    number of transactions:  6    average: 27.41
Hour: 11    total hourly sales:  376.88    number of transactions: 15    average: 25.13
Hour: 12    total hourly sales:  537.70    number of transactions: 20    average: 26.88
Hour: 13    total hourly sales:  417.26    number of transactions: 13    average: 32.10
Hour: 14    total hourly sales:  532.39    number of transactions: 25    average: 21.30
Hour: 15    total hourly sales:  492.02    number of transactions: 28    average: 17.57
Hour: 16    total hourly sales:  110.59    number of transactions:  5    average: 22.12
Hour: 17    total hourly sales:  352.67    number of transactions: 16    average: 22.04

Tue
Hour: 10    total hourly sales:  240.22    number of transactions:  6    average: 40.04
Hour: 11    total hourly sales:  261.97    number of transactions: 11    average: 23.82
Hour: 12    total hourly sales:  437.78    number of transactions: 20    average: 21.89
Hour: 13    total hourly sales:  827.10    number of transactions: 28    average: 29.54
Hour: 14    total hourly sales:  596.67    number of transactions: 26    average: 22.95
Hour: 15    total hourly sales:  578.73    number of transactions: 23    average: 25.16
Hour: 16    total hourly sales:  258.03    number of transactions: 13    average: 19.85
Hour: 17    total hourly sales:  240.48    number of transactions: 10    average: 24.05

Wed
Hour: 10    total hourly sales:  233.20    number of transactions:  7    average: 33.31
Hour: 11    total hourly sales:  366.86    number of transactions: 14    average: 26.20
Hour: 12    total hourly sales:  261.80    number of transactions: 11    average: 23.80
Hour: 13    total hourly sales:  544.07    number of transactions: 21    average: 25.91
Hour: 14    total hourly sales:  488.88    number of transactions: 15    average: 32.59
Hour: 15    total hourly sales:  331.90    number of transactions: 18    average: 18.44
Hour: 16    total hourly sales:  190.58    number of transactions: 10    average: 19.06
Hour: 17    total hourly sales:  316.98    number of transactions: 13    average: 24.38

Thu
Hour: 10    total hourly sales:  422.08    number of transactions: 19    average: 22.21
Hour: 11    total hourly sales:  273.30    number of transactions: 12    average: 22.77
Hour: 12    total hourly sales:  219.66    number of transactions: 14    average: 15.69
Hour: 13    total hourly sales:  837.92    number of transactions: 42    average: 19.95
Hour: 14    total hourly sales:  644.66    number of transactions: 14    average: 46.05
Hour: 15    total hourly sales:  641.72    number of transactions: 28    average: 22.92
Hour: 16    total hourly sales:  311.34    number of transactions: 13    average: 23.95
Hour: 17    total hourly sales:  369.16    number of transactions: 13    average: 28.40

Fri
Hour: 10    total hourly sales:  245.45    number of transactions:  9    average: 27.27
Hour: 11    total hourly sales:  395.36    number of transactions: 21    average: 18.83
Hour: 12    total hourly sales:  497.46    number of transactions: 19    average: 26.18
Hour: 13    total hourly sales:  432.49    number of transactions: 15    average: 28.83
Hour: 14    total hourly sales:  616.67    number of transactions: 17    average: 36.27
Hour: 15    total hourly sales:  349.50    number of transactions: 23    average: 15.20
Hour: 16    total hourly sales:  366.88    number of transactions: 13    average: 28.22
Hour: 17    total hourly sales:  197.25    number of transactions: 10    average: 19.73

Sat
Hour: 11    total hourly sales: 1306.39    number of transactions: 49    average: 26.66
Hour: 12    total hourly sales: 1124.27    number of transactions: 44    average: 25.55
Hour: 13    total hourly sales: 1343.51    number of transactions: 45    average: 29.86
Hour: 14    total hourly sales: 1655.90    number of transactions: 52    average: 31.84
Hour: 15    total hourly sales:  893.80    number of transactions: 36    average: 24.83
Hour: 16    total hourly sales: 1290.50    number of transactions: 52    average: 24.82

Sun
Hour: 11    total hourly sales:  526.75    number of transactions: 20    average: 26.34
Hour: 12    total hourly sales:  632.94    number of transactions: 28    average: 22.61
Hour: 13    total hourly sales:  838.36    number of transactions: 32    average: 26.20
Hour: 14    total hourly sales:  712.16    number of transactions: 35    average: 20.35
Hour: 15    total hourly sales: 1259.26    number of transactions: 38    average: 33.14
Hour: 16    total hourly sales:   56.50    number of transactions:  4    average: 14.12

In [7]:
print("\n                  ——— April ———\n")
for i in range(7):
    print(days[i])
    for hour in hours:
        if (i >= 5) and (hour == 10 or hour == 17):
            continue
        if (i == 6) and (hour == 17):
            continue
        total = averages(apr, hour, i)['Total Due'].sum()
        count = averages(apr, hour, i)['Total Due'].count()
        print(f"Hour: {hour}    total hourly sales: {total:7.2f}    ", end ='')
        print(f"number of transactions: {count:2d}    average: {total/count:5.2f}")
    print("")

                  ——— April ———

Mon
Hour: 10    total hourly sales:  129.65    number of transactions:  5    average: 25.93
Hour: 11    total hourly sales:  581.33    number of transactions: 22    average: 26.42
Hour: 12    total hourly sales:  447.22    number of transactions: 16    average: 27.95
Hour: 13    total hourly sales:  342.44    number of transactions: 17    average: 20.14
Hour: 14    total hourly sales:  538.46    number of transactions: 17    average: 31.67
Hour: 15    total hourly sales:  309.65    number of transactions: 16    average: 19.35
Hour: 16    total hourly sales:  390.20    number of transactions: 20    average: 19.51
Hour: 17    total hourly sales:  386.92    number of transactions: 16    average: 24.18

Tue
Hour: 10    total hourly sales:  311.53    number of transactions: 17    average: 18.33
Hour: 11    total hourly sales:  454.96    number of transactions: 18    average: 25.28
Hour: 12    total hourly sales:  501.07    number of transactions: 18    average: 27.84
Hour: 13    total hourly sales:  465.48    number of transactions: 18    average: 25.86
Hour: 14    total hourly sales:  197.38    number of transactions: 18    average: 10.97
Hour: 15    total hourly sales:  298.48    number of transactions: 15    average: 19.90
Hour: 16    total hourly sales:  407.91    number of transactions: 17    average: 23.99
Hour: 17    total hourly sales:  113.22    number of transactions:  9    average: 12.58

Wed
Hour: 10    total hourly sales:  420.98    number of transactions: 11    average: 38.27
Hour: 11    total hourly sales:  275.62    number of transactions:  7    average: 39.37
Hour: 12    total hourly sales:  224.28    number of transactions:  7    average: 32.04
Hour: 13    total hourly sales:  210.75    number of transactions: 11    average: 19.16
Hour: 14    total hourly sales:  477.50    number of transactions: 19    average: 25.13
Hour: 15    total hourly sales:  462.14    number of transactions: 16    average: 28.88
Hour: 16    total hourly sales:  232.62    number of transactions:  8    average: 29.08
Hour: 17    total hourly sales:   60.85    number of transactions:  4    average: 15.21

Thu
Hour: 10    total hourly sales:  183.19    number of transactions:  4    average: 45.80
Hour: 11    total hourly sales:  365.10    number of transactions: 14    average: 26.08
Hour: 12    total hourly sales:  441.32    number of transactions: 13    average: 33.95
Hour: 13    total hourly sales:  153.97    number of transactions: 10    average: 15.40
Hour: 14    total hourly sales:  388.50    number of transactions: 12    average: 32.38
Hour: 15    total hourly sales:  145.89    number of transactions: 13    average: 11.22
Hour: 16    total hourly sales:   97.94    number of transactions:  3    average: 32.65
Hour: 17    total hourly sales:  125.85    number of transactions:  7    average: 17.98

Fri
Hour: 10    total hourly sales:  310.00    number of transactions: 14    average: 22.14
Hour: 11    total hourly sales:  501.84    number of transactions: 19    average: 26.41
Hour: 12    total hourly sales:  327.60    number of transactions: 20    average: 16.38
Hour: 13    total hourly sales:  415.73    number of transactions: 15    average: 27.72
Hour: 14    total hourly sales:  436.88    number of transactions: 16    average: 27.30
Hour: 15    total hourly sales:  298.26    number of transactions: 19    average: 15.70
Hour: 16    total hourly sales:  258.66    number of transactions: 10    average: 25.87
Hour: 17    total hourly sales:  306.33    number of transactions:  9    average: 34.04

Sat
Hour: 11    total hourly sales:  358.22    number of transactions: 15    average: 23.88
Hour: 12    total hourly sales:  671.93    number of transactions: 21    average: 32.00
Hour: 13    total hourly sales: 1030.27    number of transactions: 28    average: 36.80
Hour: 14    total hourly sales:  935.84    number of transactions: 41    average: 22.83
Hour: 15    total hourly sales:  981.12    number of transactions: 40    average: 24.53
Hour: 16    total hourly sales: 1034.05    number of transactions: 36    average: 28.72

Sun
Hour: 11    total hourly sales:  492.13    number of transactions: 13    average: 37.86
Hour: 12    total hourly sales:  498.50    number of transactions: 22    average: 22.66
Hour: 13    total hourly sales:  727.84    number of transactions: 24    average: 30.33
Hour: 14    total hourly sales:  813.91    number of transactions: 29    average: 28.07
Hour: 15    total hourly sales:  595.69    number of transactions: 23    average: 25.90
Hour: 16    total hourly sales:   20.43    number of transactions:  1    average: 20.43

In [8]:
jan['Day'] = jan['Time'].dt.weekday
jan['Hour'] = jan['Time'].dt.hour

mar['Day'] = mar['Time'].dt.weekday
mar['Hour'] = mar['Time'].dt.hour

apr['Day'] = apr['Time'].dt.weekday
apr['Hour'] = apr['Time'].dt.hour

#jan.groupby(['Day', 'Hour'])['Total Due'].sum()
#apr.groupby(['Day', 'Hour'])['Total Due'].sum()

In [9]:
hours = '10 11 12 1 2 3 4 5 6'.split()

avgs = jan.groupby(['Day', 'Hour'])['Total Due'].sum().groupby('Hour').mean()
print("——— January ———")
print("Time\tAverage Total Sales")
for idx, value in enumerate(avgs):
    print(f"{hours[idx]:>2}\t${value:7.2f}")

——— January ———
Time	Average Total Sales
10	$ 153.22
11	$ 400.89
12	$ 516.19
 1	$ 597.62
 2	$ 576.42
 3	$ 598.74
 4	$ 470.34
 5	$ 210.16
 6	$  42.74

In [10]:
avgs = mar.groupby(['Day', 'Hour'])['Total Due'].sum().groupby('Hour').mean()
print("——— March ———")
print("Time\tAverage Total Sales")
for idx, value in enumerate(avgs):
    print(f"{hours[idx]:>2}\t${value:7.2f}")

——— March ———
Time	Average Total Sales
10	$ 261.09
11	$ 501.07
12	$ 530.23
 1	$ 748.67
 2	$ 749.62
 3	$ 649.56
 4	$ 369.20
 5	$ 252.31
 6	$  10.00

In [11]:
avgs = apr.groupby(['Day', 'Hour'])['Total Due'].sum().groupby('Hour').mean()
print("——— April ———")
print("Time\tAverage Total Sales")
for idx, value in enumerate(avgs):
    print(f"{hours[idx]:>2}\t${value:7.2f}")

——— April ———
Time	Average Total Sales
10	$ 271.07
11	$ 432.74
12	$ 444.56
 1	$ 478.07
 2	$ 541.21
 3	$ 441.60
 4	$ 348.83
 5	$ 198.63
 6	$  41.30